In [2]:
#2024 CONV

import pandas as pd

# Replace the file path with your actual CSV file path
input_csv_file_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/sales_April24.csv'
output_csv_file_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/Utf/sales_April24.csv'

# Read CSV with 'Windows-1252' encoding
df = pd.read_csv(input_csv_file_path, encoding='Windows-1252',dtype={'payer_categoryname': str,
'account_name': str,
'patient_code': str,
'bill_no': str,
'bill_date': str,
'patient_name': str,
'location_name': str,
'department': str,
'member_no': str,
'sub_type': str,
'type': str,
'payment_type': str,
'item_code': str,
'item_name': str,
'rate': float,
'qty': str,
'payment_mode': str,
'mpesa_reference': str,
'Doctor_name': str,
'amount': str,
'Gross': float,
'Discount_Amount': float,
'Amount_Collected': float,
'Amount_Receivable': float,
'Invoive_No': str,
'Actual_Receivable': float,
'Mobill_No': str})

df['member_no'] = df['member_no'].astype(str)
df['payment_mode'] = df['payment_mode'].astype(str)
df['mpesa_reference'] = df['mpesa_reference'].astype(str)
# Iterate over all columns and replace the curly apostrophe character in string columns
for column in df.columns:
    if df[column].dtype == 'O':  # Check if the column has an object (string) dtype
        df[column] = df[column].str.replace('â€™', "'")

# Save the modified DataFrame to a new CSV file
df.to_csv(output_csv_file_path, index=False)

In [3]:
import pandas as pd

import calendar

# Import the data
df_jan = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/Utf/sales_Jan24.csv',
        encoding='utf-8',
        thousands=',',
        dtype={'payer_categoryname': str,
                        'account_name': str,
                        'patient_code': str,
                        'patient_name': str,
                        'bill_no': str,
                        'bill_date': str,
                        'location_name': str,
                        'department': str,
                        'member_no': str,
                        'sub_type': str,
                        'type': str,
                        'payment_type': str,
                        'item_code': str,
                        'item_name': str,
                        'rate': float,
                        'qty': float,
                        'payment_mode': str,
                        'mpesa_reference': str,
                        'Doctor_name': str,
                        'amount': str,
                        'Gross': float,
                        'Discount_Amount': float,
                        'Amount_Collected': str,
                        'Amount_Receivable': str,
                        'Invoive_No': str,
                        'Actual_Receivable': str,
                        'Mobill_No': str},
                parse_dates=['bill_date'],  # Specify the column to parse as dates
                date_format='%d/%m/%Y'  # Use date_format instead of date_parser
                )

In [4]:
unique_months = df_jan['bill_date'].dt.month_name().unique()
print(unique_months)

['January']

In [5]:
# Assuming Allsales_df is your DataFrame
df_jan['bill_date'] = pd.to_datetime(df_jan['bill_date'])

# Print all unique dates
unique_dates = df_jan['bill_date'].dt.date.unique()
print(unique_dates)

[datetime.date(2024, 1, 6) datetime.date(2024, 1, 20)
 datetime.date(2024, 1, 1) datetime.date(2024, 1, 24)
 datetime.date(2024, 1, 29) datetime.date(2024, 1, 2)
 datetime.date(2024, 1, 4) datetime.date(2024, 1, 31)
 datetime.date(2024, 1, 22) datetime.date(2024, 1, 30)
 datetime.date(2024, 1, 12) datetime.date(2024, 1, 13)
 datetime.date(2024, 1, 3) datetime.date(2024, 1, 19)
 datetime.date(2024, 1, 10) datetime.date(2024, 1, 16)
 datetime.date(2024, 1, 5) datetime.date(2024, 1, 9)
 datetime.date(2024, 1, 27) datetime.date(2024, 1, 18)
 datetime.date(2024, 1, 26) datetime.date(2024, 1, 8)
 datetime.date(2024, 1, 15) datetime.date(2024, 1, 17)
 datetime.date(2024, 1, 11) datetime.date(2024, 1, 25)
 datetime.date(2024, 1, 23) datetime.date(2024, 1, 14)
 datetime.date(2024, 1, 21) datetime.date(2024, 1, 28)
 datetime.date(2024, 1, 7)]

In [6]:
import pandas as pd

import calendar

# Import the data
df_Feb = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/Utf/sales_Feb24.csv',
        encoding='utf-8',
        thousands=',',
        dtype={'payer_categoryname': str,
                        'account_name': str,
                        'patient_code': str,
                        'patient_name': str,
                        'bill_no': str,
                        'bill_date': str,
                        'location_name': str,
                        'department': str,
                        'member_no': str,
                        'sub_type': str,
                        'type': str,
                        'payment_type': str,
                        'item_code': str,
                        'item_name': str,
                        'rate': float,
                        'qty': float,
                        'payment_mode': str,
                        'mpesa_reference': str,
                        'Doctor_name': str,
                        'amount': str,
                        'Gross': float,
                        'Discount_Amount': float,
                        'Amount_Collected': str,
                        'Amount_Receivable': str,
                        'Invoive_No': str,
                        'Actual_Receivable': str,
                        'Mobill_No': str},
                parse_dates=['bill_date'],  # Specify the column to parse as dates
                date_format='%d/%m/%Y'  # Use date_format instead of date_parser
                )

In [7]:
unique_months = df_Feb['bill_date'].dt.month_name().unique()
print(unique_months)

['February']

In [8]:
import pandas as pd

import calendar

# Import the data
df_Mar = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/Utf/sales_Mar24.csv',
        encoding='utf-8',
        thousands=',',
        dtype={'payer_categoryname': str,
                        'account_name': str,
                        'patient_code': str,
                        'patient_name': str,
                        'bill_no': str,
                        'bill_date': str,
                        'location_name': str,
                        'department': str,
                        'member_no': str,
                        'sub_type': str,
                        'type': str,
                        'payment_type': str,
                        'item_code': str,
                        'item_name': str,
                        'rate': float,
                        'qty': float,
                        'payment_mode': str,
                        'mpesa_reference': str,
                        'Doctor_name': str,
                        'amount': str,
                        'Gross': float,
                        'Discount_Amount': float,
                        'Amount_Collected': str,
                        'Amount_Receivable': str,
                        'Invoive_No': str,
                        'Actual_Receivable': str,
                        'Mobill_No': str},
                parse_dates=['bill_date'],  # Specify the column to parse as dates
                date_format='%d/%m/%Y'  # Use date_format instead of date_parser
                )

In [9]:
unique_months = df_Mar['bill_date'].dt.month_name().unique()
print(unique_months)

['March' 'January']

In [10]:
import pandas as pd

import calendar

# Import the data
df_April = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/BlissSales2024/Utf/sales_April24.csv',
        encoding='utf-8',
        thousands=',',
        dtype={'payer_categoryname': str,
                        'account_name': str,
                        'patient_code': str,
                        'patient_name': str,
                        'bill_no': str,
                        'bill_date': str,
                        'location_name': str,
                        'department': str,
                        'member_no': str,
                        'sub_type': str,
                        'type': str,
                        'payment_type': str,
                        'item_code': str,
                        'item_name': str,
                        'rate': float,
                        'qty': float,
                        'payment_mode': str,
                        'mpesa_reference': str,
                        'Doctor_name': str,
                        'amount': str,
                        'Gross': float,
                        'Discount_Amount': float,
                        'Amount_Collected': str,
                        'Amount_Receivable': str,
                        'Invoive_No': str,
                        'Actual_Receivable': str,
                        'Mobill_No': str},
                parse_dates=['bill_date'],  # Specify the column to parse as dates
                date_format='%d/%m/%Y'  # Use date_format instead of date_parser
                )

In [11]:
unique_months = df_April['bill_date'].dt.month_name().unique()
print(unique_months)

['April']

In [12]:
# Assuming Allsales_df is your DataFrame
df_April['bill_date'] = pd.to_datetime(df_April['bill_date'])

# Print all unique dates
unique_dates = df_April['bill_date'].dt.date.unique()
print(unique_dates)

[datetime.date(2024, 4, 15) datetime.date(2024, 4, 27)
 datetime.date(2024, 4, 22) datetime.date(2024, 4, 13)
 datetime.date(2024, 4, 23) datetime.date(2024, 4, 29)
 datetime.date(2024, 4, 21) datetime.date(2024, 4, 20)
 datetime.date(2024, 4, 28) datetime.date(2024, 4, 6)
 datetime.date(2024, 4, 16) datetime.date(2024, 4, 14)
 datetime.date(2024, 4, 9) datetime.date(2024, 4, 24)
 datetime.date(2024, 4, 8) datetime.date(2024, 4, 11)
 datetime.date(2024, 4, 4) datetime.date(2024, 4, 3)
 datetime.date(2024, 4, 2) datetime.date(2024, 4, 5)
 datetime.date(2024, 4, 10) datetime.date(2024, 4, 25)
 datetime.date(2024, 4, 12) datetime.date(2024, 4, 30)
 datetime.date(2024, 4, 26) datetime.date(2024, 4, 1)
 datetime.date(2024, 4, 17) datetime.date(2024, 4, 19)
 datetime.date(2024, 4, 18) datetime.date(2024, 4, 7)]

In [13]:
# Concatenate the DataFrames into a single DataFrame
Allsales_df= pd.concat([df_jan,df_Feb,df_Mar,df_April], ignore_index=True)

In [14]:
# Assuming Allsales_df is your DataFrame
Allsales_df['bill_date'] = pd.to_datetime(Allsales_df['bill_date'])

# Print all unique dates
unique_dates = Allsales_df['bill_date'].dt.date.unique()
print(unique_dates)

[datetime.date(2024, 1, 6) datetime.date(2024, 1, 20)
 datetime.date(2024, 1, 1) datetime.date(2024, 1, 24)
 datetime.date(2024, 1, 29) datetime.date(2024, 1, 2)
 datetime.date(2024, 1, 4) datetime.date(2024, 1, 31)
 datetime.date(2024, 1, 22) datetime.date(2024, 1, 30)
 datetime.date(2024, 1, 12) datetime.date(2024, 1, 13)
 datetime.date(2024, 1, 3) datetime.date(2024, 1, 19)
 datetime.date(2024, 1, 10) datetime.date(2024, 1, 16)
 datetime.date(2024, 1, 5) datetime.date(2024, 1, 9)
 datetime.date(2024, 1, 27) datetime.date(2024, 1, 18)
 datetime.date(2024, 1, 26) datetime.date(2024, 1, 8)
 datetime.date(2024, 1, 15) datetime.date(2024, 1, 17)
 datetime.date(2024, 1, 11) datetime.date(2024, 1, 25)
 datetime.date(2024, 1, 23) datetime.date(2024, 1, 14)
 datetime.date(2024, 1, 21) datetime.date(2024, 1, 28)
 datetime.date(2024, 1, 7) datetime.date(2024, 2, 12)
 datetime.date(2024, 2, 1) datetime.date(2024, 2, 13)
 datetime.date(2024, 2, 16) datetime.date(2024, 2, 28)
 datetime.date(2024, 2, 17) datetime.date(2024, 2, 6)
 datetime.date(2024, 2, 2) datetime.date(2024, 2, 22)
 datetime.date(2024, 2, 5) datetime.date(2024, 2, 26)
 datetime.date(2024, 2, 3) datetime.date(2024, 2, 15)
 datetime.date(2024, 2, 14) datetime.date(2024, 2, 9)
 datetime.date(2024, 2, 21) datetime.date(2024, 2, 7)
 datetime.date(2024, 2, 19) datetime.date(2024, 2, 10)
 datetime.date(2024, 2, 8) datetime.date(2024, 2, 23)
 datetime.date(2024, 2, 24) datetime.date(2024, 2, 20)
 datetime.date(2024, 2, 4) datetime.date(2024, 2, 29)
 datetime.date(2024, 2, 18) datetime.date(2024, 2, 27)
 datetime.date(2024, 2, 11) datetime.date(2024, 2, 25)
 datetime.date(2024, 3, 13) datetime.date(2024, 3, 19)
 datetime.date(2024, 3, 28) datetime.date(2024, 3, 8)
 datetime.date(2024, 3, 25) datetime.date(2024, 3, 4)
 datetime.date(2024, 3, 2) datetime.date(2024, 3, 1)
 datetime.date(2024, 3, 22) datetime.date(2024, 3, 5)
 datetime.date(2024, 3, 23) datetime.date(2024, 3, 21)
 datetime.date(2024, 3, 20) datetime.date(2024, 3, 30)
 datetime.date(2024, 3, 9) datetime.date(2024, 3, 12)
 datetime.date(2024, 3, 26) datetime.date(2024, 3, 11)
 datetime.date(2024, 3, 7) datetime.date(2024, 3, 18)
 datetime.date(2024, 3, 6) datetime.date(2024, 3, 17)
 datetime.date(2024, 3, 29) datetime.date(2024, 3, 15)
 datetime.date(2024, 3, 16) datetime.date(2024, 3, 27)
 datetime.date(2024, 3, 3) datetime.date(2024, 3, 10)
 datetime.date(2024, 3, 14) datetime.date(2024, 3, 31)
 datetime.date(2024, 3, 24) datetime.date(2024, 4, 15)
 datetime.date(2024, 4, 27) datetime.date(2024, 4, 22)
 datetime.date(2024, 4, 13) datetime.date(2024, 4, 23)
 datetime.date(2024, 4, 29) datetime.date(2024, 4, 21)
 datetime.date(2024, 4, 20) datetime.date(2024, 4, 28)
 datetime.date(2024, 4, 6) datetime.date(2024, 4, 16)
 datetime.date(2024, 4, 14) datetime.date(2024, 4, 9)
 datetime.date(2024, 4, 24) datetime.date(2024, 4, 8)
 datetime.date(2024, 4, 11) datetime.date(2024, 4, 4)
 datetime.date(2024, 4, 3) datetime.date(2024, 4, 2)
 datetime.date(2024, 4, 5) datetime.date(2024, 4, 10)
 datetime.date(2024, 4, 25) datetime.date(2024, 4, 12)
 datetime.date(2024, 4, 30) datetime.date(2024, 4, 26)
 datetime.date(2024, 4, 1) datetime.date(2024, 4, 17)
 datetime.date(2024, 4, 19) datetime.date(2024, 4, 18)
 datetime.date(2024, 4, 7)]

In [15]:
import pandas as pd
import calendar

# Assuming Allsales_df is your DataFrame
Allsales_df['bill_date'] = pd.to_datetime(Allsales_df['bill_date'])

# Find rows where 'bill_date' is NaN
rows_with_nan = Allsales_df[Allsales_df['bill_date'].isna()]

In [16]:
print(rows_with_nan)

Empty DataFrame
Columns: [payer_categoryname, account_name, patient_code, bill_no, bill_date, patient_name, location_name, department, member_no, sub_type, type, payment_type, item_code, item_name, rate, qty, payment_mode, mpesa_reference, Doctor_name, amount, Gross, Discount_Amount, Amount_Collected, Amount_Receivable, Invoive_No, Actual_Receivable, Mobill_No]
Index: []

[0 rows x 27 columns]

In [17]:
#create a "month "coloumns in ALlsales dump
import calendar
# Assuming Allsales_df is your DataFrame
Allsales_df['bill_date'] = pd.to_datetime(Allsales_df['bill_date'], errors='coerce')

Allsales_df['Month'] = Allsales_df['bill_date'].dt.month.apply(lambda x: calendar.month_name[int(x)])

Allsales_df['Month'] = pd.Categorical(Allsales_df['Month'], categories=calendar.month_name[1:], ordered=True)


#Allsales_df.head()

In [18]:
import calendar

# Last month of CDM salesvalueerror: cannot convert float NaN to integer
last_month = Allsales_df['bill_date'].max().month

if last_month == 12:
    # If the last month is December, find the previous month
    last_month = Allsales_df['bill_date'].iloc[-2].month

last_month_name = calendar.month_name[last_month]

#print(last_month_name)

In [19]:
import pandas as pd

# Define the columns you want to include in TSC_dental_df
TSC_dental_columns = ['account_name', 'patient_code', 'Invoive_No','department', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter Allsales_df and create TSC_Dental_Grouped
tsc_dental_filter = ((Allsales_df['account_name'].isin(['MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)', 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)'])) & (Allsales_df['type'] == 'DENTAL'))
TSC_Dental_Grouped = Allsales_df.loc[tsc_dental_filter, TSC_dental_columns].reset_index(drop=True)



TSC_Dental_Grouped['Footfall'] = (~TSC_Dental_Grouped.duplicated(subset='Invoive_No')).astype(int)
TSC_Dental_Grouped['Revenue'] = TSC_Dental_Grouped['Gross'] - TSC_Dental_Grouped['Discount_Amount']
TSC_Dental_Grouped['TicketSize'] = TSC_Dental_Grouped['Gross'] - TSC_Dental_Grouped['Discount_Amount']




# Add the 'Scheme' column
TSC_Dental_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
TSC_Dental_Grouped = TSC_Dental_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
TSC_Dental_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(TSC_Dental_Grouped)

# Export TSC DENTAL CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Dental.csv'
TSC_Dental_Grouped.to_csv(output_path, index=True)

In [20]:
import pandas as pd

# Define the columns you want to include in TSC_Optical_df
TSC_Optical_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create TSC_opticalDump_df by filtering Allsales_df
tsc_optical_filter = (
    (
        (Allsales_df['account_name'].isin(['MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)', 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)'])) &
        (Allsales_df['type'].isin(['OPTICAL', 'Ophthalmology']))
    )
)

TSC_optical_Grouped = Allsales_df.loc[tsc_optical_filter, TSC_Optical_columns].reset_index(drop=True)

# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
TSC_optical_Grouped['Unique_ID'] = TSC_optical_Grouped['Invoive_No'].astype(str).str.cat(TSC_optical_Grouped['department'].astype(str), sep='-')

# Calculate common conditions once
duplicate_condition = ~TSC_optical_Grouped.duplicated(subset='Unique_ID')
TSC_optical_Grouped['Revenue'] = duplicate_condition * 3000
TSC_optical_Grouped['Footfall'] = duplicate_condition.astype(int)
TSC_optical_Grouped['TicketSize'] = duplicate_condition * 3000

# Add the 'Scheme' column
TSC_optical_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
TSC_optical_Grouped = TSC_optical_Grouped[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
TSC_optical_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Export TSC DENTAL CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Optical.csv'
TSC_optical_Grouped.to_csv(output_path, index=True)

In [21]:
import pandas as pd

# Define the columns you want to include in TSC_Ct_df
TSC_Ct_columns = ['account_name', 'patient_code', 'Invoive_No', 'department', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create TSC_Ct_df by filtering Allsales_df
tsc_ct_filter = (
    (
        (Allsales_df['account_name'].isin(['MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)', 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)'])) &
        (Allsales_df['item_name'].str.startswith("CT Scan"))
    )
)

TSC_Ct_Grouped = Allsales_df.loc[tsc_ct_filter, TSC_Ct_columns].reset_index(drop=True)

# Calculate common conditions once
duplicate_condition = ~TSC_Ct_Grouped.duplicated(subset='Invoive_No')
TSC_Ct_Grouped['Revenue'] = duplicate_condition * 1321.24
TSC_Ct_Grouped['Footfall'] = duplicate_condition.astype(int)
TSC_Ct_Grouped['TicketSize'] = duplicate_condition * 1321.24

# Add the 'Scheme' column
TSC_Ct_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
TSC_Ct_Grouped = TSC_Ct_Grouped[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
TSC_Ct_Grouped.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(TSC_Ct_Grouped)

# Export TSC CtScan CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_CtScan.csv'
TSC_Ct_Grouped.to_csv(output_path, index=True)

In [22]:
import pandas as pd

# Define the columns you want to include in TSC_Capitation_df
TSC_Cap_Columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Combine similar conditions for readability
conditions = (
    (
        (Allsales_df['account_name'].isin(['MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)', 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)'])) &
        (Allsales_df['type'] != 'DENTAL') &
        ~Allsales_df['type'].isin(['OPTICAL', 'Ophthalmology']) &
        ~Allsales_df['item_name'].str.startswith("CT Scan") &
        Allsales_df['type'].notnull()
    )
)

# Create TSC_Capitation_df by filtering Allsales_df
TSC_Capitation_df = Allsales_df.loc[conditions, TSC_Cap_Columns].reset_index(drop=True)

# Convert 'bill_date' to datetime if it's not already in datetime format
TSC_Capitation_df['bill_date'] = pd.to_datetime(TSC_Capitation_df['bill_date'])

TSC_Capitation_df['Week'] = TSC_Capitation_df['bill_date'].dt.isocalendar().week
# Sort the DataFrame if needed
# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
TSC_Capitation_df['Unique_ID'] = TSC_Capitation_df['patient_code'].astype(str).str.cat(TSC_Capitation_df['Week'].astype(str), sep='-')
# Calculate common conditions once
duplicate_condition = ~TSC_Capitation_df.duplicated(subset='Unique_ID')


# Calculate columns with common conditions
TSC_Capitation_df['Footfall'] = duplicate_condition.astype(int)
TSC_Capitation_df['Revenue'] = duplicate_condition * 1321.24 
TSC_Capitation_df['TicketSize'] = duplicate_condition * 1321.24


# Add the 'Scheme' column
TSC_Capitation_df['Scheme'] = 'TSC'

# Reorder columns
TSC_Capitation_df = TSC_Capitation_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]

# Export TSC Capitation CSV
TSC_Capitation_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Others.csv', index=False)

In [23]:
from datetime import datetime

# Define the columns you want to include in County_Capitation_df
County_Cap_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create County_Capitation_df by filtering Allsales_df
county_cap_filter = (
    (Allsales_df['account_name'].str.contains("COUNTY|County|county", case=False, regex=True)) &
    ((Allsales_df['account_name'] != 'Meru County government') & (Allsales_df['account_name'] != 'Nairobi City County'))
)

County_Capitation_df = Allsales_df.loc[county_cap_filter, County_Cap_columns].reset_index(drop=True)

# Convert 'bill_date' to datetime if it's not already in datetime format
County_Capitation_df['bill_date'] = pd.to_datetime(County_Capitation_df['bill_date'])

# Sort the DataFrame by 'Unique_ID' and 'bill_date'
County_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)

# Calculate the week number within the month
County_Capitation_df['Week'] = County_Capitation_df['bill_date'].dt.isocalendar().week

# Concatenate strings with hyphen as a separator
County_Capitation_df['Unique_ID'] = County_Capitation_df['patient_code'].astype(str).str.cat(
    County_Capitation_df['Week'].astype(str),
    sep='-'
)

# Calculate common conditions once
duplicate_condition = ~County_Capitation_df.duplicated(subset='Unique_ID')
County_Capitation_df['Revenue'] = duplicate_condition * 1321.24 
County_Capitation_df['Footfall'] = duplicate_condition.astype(int)
County_Capitation_df['TicketSize'] = duplicate_condition *  1321.24 

# Add the 'Scheme' column
County_Capitation_df['Scheme'] = 'TSC'

# Reorder columns and set index
County_Capitation_df = County_Capitation_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
County_Capitation_df.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(tabulate(County_Capitation_df.head(), headers='keys', tablefmt='pretty'))

# Export County Capitation CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Capitation.csv'
County_Capitation_df.to_csv(output_path, index=True)

In [24]:


# Define the columns you want to include in COUNTY_dental_df
COUNTY_dental_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create COUNTY_dental_df by filtering Allsales_df
county_dental_filter = (
    (Allsales_df['account_name'].str.contains("COUNTY|County|county", case=False, regex=True)) &
    (Allsales_df['type'] == 'DENTAL') &
    ~((Allsales_df['account_name'] == 'Meru County government') | (Allsales_df['account_name'] == 'Nairobi City County'))
)

COUNTY_dental_Grouped = Allsales_df.loc[county_dental_filter, COUNTY_dental_columns].reset_index(drop=True)

# Calculate common conditions once
duplicate_condition = ~COUNTY_dental_Grouped.duplicated(subset='Invoive_No')
COUNTY_dental_Grouped['Footfall'] = duplicate_condition.astype(int)
COUNTY_dental_Grouped['Revenue'] = COUNTY_dental_Grouped['Gross'] - COUNTY_dental_Grouped['Discount_Amount']
COUNTY_dental_Grouped['TicketSize'] = COUNTY_dental_Grouped['Gross'] - COUNTY_dental_Grouped['Discount_Amount']

# Add the 'Scheme' column
COUNTY_dental_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
COUNTY_dental_Grouped = COUNTY_dental_Grouped[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
COUNTY_dental_Grouped.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(COUNTY_dental_Grouped.head())

# Export COUNTY Dental CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY__Dental.csv'
COUNTY_dental_Grouped.to_csv(output_path, index=True)

In [25]:
import pandas as pd

# Define the columns you want to include in COUNTY_Optical_df
COUNTY_Optical_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create COUNTY_Optical_df by filtering Allsales_df
county_optical_filter = (
    (Allsales_df['account_name'].str.contains("COUNTY|County|county", case=False, regex=True)) &
    (Allsales_df['type'].isin(['OPTICAL', 'Ophthalmology'])) &
    ~((Allsales_df['account_name'] == 'Meru County government') | (Allsales_df['account_name'] == 'Nairobi City County'))
)

COUNTY_Optical_Grouped = Allsales_df.loc[county_optical_filter, COUNTY_Optical_columns].reset_index(drop=True)

# Calculate common conditions once
duplicate_condition = ~COUNTY_Optical_Grouped.duplicated(subset='Invoive_No')
COUNTY_Optical_Grouped['Revenue'] = duplicate_condition * 3000
COUNTY_Optical_Grouped['Footfall'] = duplicate_condition.astype(int)
COUNTY_Optical_Grouped['TicketSize'] = duplicate_condition * 3000

# Add the 'Scheme' column
COUNTY_Optical_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
COUNTY_Optical_Grouped = COUNTY_Optical_Grouped[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
COUNTY_Optical_Grouped.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(COUNTY_Optical_Grouped.head())

# Export COUNTY Optical CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Optical.csv'
COUNTY_Optical_Grouped.to_csv(output_path, index=True)

In [26]:
import pandas as pd

# Define the columns you want to include in COUNTY_Ct_df
COUNTY_Ct_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create COUNTY_Ct_df by filtering Allsales_df
county_ct_filter = (
    (Allsales_df['account_name'].str.contains("COUNTY|County|county", case=False, regex=True)) &
    (Allsales_df['item_name'].str.startswith("CT Scan")) &
    (Allsales_df['account_name'] != 'Meru County government')
)

COUNTY_Ct_Grouped = Allsales_df.loc[county_ct_filter, COUNTY_Ct_columns].reset_index(drop=True)

# Calculate common conditions once
duplicate_condition = ~COUNTY_Ct_Grouped.duplicated(subset='Invoive_No')
COUNTY_Ct_Grouped['Revenue'] = duplicate_condition *1321.24
COUNTY_Ct_Grouped['Footfall'] = duplicate_condition.astype(int)
COUNTY_Ct_Grouped['TicketSize'] = duplicate_condition * 1321.24

# Add the 'Scheme' column
COUNTY_Ct_Grouped['Scheme'] = 'TSC'

# Reorder columns and set index
COUNTY_Ct_Grouped = COUNTY_Ct_Grouped[[
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
COUNTY_Ct_Grouped.set_index([
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)

# Display the resulting DataFrame
# print(COUNTY_Ct_Grouped.head())

# Export COUNTY CtScan CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_CtScan.csv'
COUNTY_Ct_Grouped.to_csv(output_path, index=True)

In [27]:
import pandas as pd

# Define the columns you want to include in NPS_den_Op_ct_df
NPS_den_Op_ct_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create NPS_den_Op_ct_df by filtering Allsales_df
nps_den_op_ct_filter = (
    ((Allsales_df['account_name'] == 'NPS / KPS Capitation') & Allsales_df['type'].isin(['DENTAL', 'OPTICAL', 'Ophthalmology'])) |
    ((Allsales_df['account_name'] == 'NPS / KPS Capitation') & Allsales_df['item_name'].str.startswith("CT Scan"))
)

NPS_den_Op_ct_Grouped = Allsales_df.loc[nps_den_op_ct_filter, NPS_den_Op_ct_columns].reset_index(drop=True)

# Calculate common conditions once
duplicate_condition = ~NPS_den_Op_ct_Grouped.duplicated(subset='Invoive_No')
NPS_den_Op_ct_Grouped['Footfall'] = duplicate_condition.astype(int)
NPS_den_Op_ct_Grouped['Revenue'] = duplicate_condition * 3000
NPS_den_Op_ct_Grouped['TicketSize'] = duplicate_condition * 3000


NPS_den_Op_ct_Grouped['Scheme'] = 'NPS'

# Reorder columns and set index
NPS_den_Op_ct_Grouped = NPS_den_Op_ct_Grouped[[
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
NPS_den_Op_ct_Grouped.set_index([
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)

# Display the resulting DataFrame
# print(NPS_den_Op_ct_Grouped.head())

# Export NPS Opt-den Ct CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_Opt-den_Ct.csv'
NPS_den_Op_ct_Grouped.to_csv(output_path, index=True)

In [28]:
# Assuming Allsales_df is your DataFrame

# Define the columns you want to include in NPS_Capitation_df
NPS_Cap_Columns = ['account_name', 'patient_code', 'Invoive_No','department', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create NPS_Capitation_df by filtering Allsales_df
NPS_Capitation_df = Allsales_df[
    (
        (Allsales_df['account_name'] == 'NPS / KPS Capitation') & 
        (Allsales_df['type'] != 'DENTAL') &
        (Allsales_df['type'] != 'OPTICAL') &
        (~Allsales_df['item_name'].str.startswith("CT Scan") &
        (Allsales_df['type'].notnull()))
    )
][NPS_Cap_Columns].reset_index(drop=True)

# Convert 'bill_date' to datetime if it's not already in datetime format
NPS_Capitation_df['bill_date'] = pd.to_datetime(NPS_Capitation_df['bill_date'])

# Sort the DataFrame by 'bill_date' and 'patient_code'
NPS_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)

# Calculate the week number within the month
NPS_Capitation_df['Week'] = NPS_Capitation_df['bill_date'].dt.isocalendar().week

# Concatenate strings with hyphen as a separator
NPS_Capitation_df['Unique_ID'] = NPS_Capitation_df['patient_code'].astype(str).str.cat(
    NPS_Capitation_df['Week'].astype(str),
    sep='-'
)
# Assuming 'Unique_ID' is the column you want to use for grouping
NPS_Capitation_df['Footfall'] =(~NPS_Capitation_df.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Amount' column as the multiplication by visit code'
NPS_Capitation_df['Revenue'] = (~NPS_Capitation_df.duplicated(subset='Unique_ID')) * 1320.45 


# Calculate the 'Ticket_Size' column
NPS_Capitation_df['TicketSize'] = (~NPS_Capitation_df.duplicated(subset='Unique_ID')) * 1320.45 


NPS_Capitation_df['Scheme'] = 'NPS'

# Reorder columns and set index
NPS_Capitation_df = NPS_Capitation_df[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
NPS_Capitation_df.set_index([
    'account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)

# Export to CSV
NPS_Capitation_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_cap_Others_.csv', index=True)

In [29]:


# Define the columns you want to include in Cash_df
Cash_columns = ['account_name','patient_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

#filtering Allsales_df
Cash_df = Allsales_df[Allsales_df['account_name'] == 'CASH'][Cash_columns].reset_index(drop=True)

# Concatenate strings with hyphen as a separator
Cash_df['Unique_ID'] = Cash_df['bill_date'].astype(str).str.cat(Cash_df['patient_name'].astype(str),sep='-'
)

# Group by 'Invoice_No' and calculate footfalls, revenue, and ticket size
Total_Cash_Data = Cash_df.groupby('Unique_ID').agg(
    account_name=('account_name', 'first'),
    department=('department', 'first'),
    patient_code=('patient_code', 'first'),
    bill_date=('bill_date', 'first'),
    location_name=('location_name', 'first'),
    Invoive_No=('Invoive_No','first'),
    item_name=('item_name', 'first'),
    Gross=('Gross', 'sum'),
    Discount_Amount=('Discount_Amount', 'sum'),
    type=('type', 'first'),
    Month=('Month', 'first'),
).reset_index()

# Calculate the 'Amount' column as the sum of the difference between 'Gross' and 'Discount_Amount'
Total_Cash_Data['Revenue'] = Total_Cash_Data['Gross'] - Total_Cash_Data['Discount_Amount']

# Calculate the 'Ticket_Size' column
Total_Cash_Data['TicketSize'] = Total_Cash_Data['Gross'] - Total_Cash_Data['Discount_Amount']

# Add the 'Scheme' column
Total_Cash_Data['Scheme'] = 'CASH'

# Calculate the 'Footfall' column

Total_Cash_Data['Footfall'] =(~Total_Cash_Data.duplicated(subset='Unique_ID')).astype(int)

# Reorder columns and set index
Total_Cash_Data = Total_Cash_Data[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
Total_Cash_Data.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

Total_Cash_Data.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_CASH.csv', index=True)



#print(Cash_Grouped)

In [30]:


# Define the columns you want to include in Cash_df
Cash_Dep_columns = ['account_name','patient_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create Cash_df by filtering Allsales_df
Cash_Dep_Data = Allsales_df[Allsales_df['account_name'] == 'CASH'][Cash_Dep_columns].reset_index(drop=True)

# Concatenate strings with hyphen as a separator
Cash_Dep_Data['Unique_ID'] = Cash_Dep_Data['bill_date'].astype(str).str.cat(Cash_Dep_Data['department'].astype(str).str.cat(Cash_Dep_Data['patient_name'].astype(str)),sep='-'
)

# Assuming 'Invoive_No' is the column you want to use for grouping
Cash_Dep_Data['Footfall'] = (~Cash_Dep_Data.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Amount' column as the sum of the difference between 'Gross' and 'Discount_Amount'
Cash_Dep_Data['Revenue'] = Cash_Dep_Data['Gross'] - Cash_Dep_Data['Discount_Amount']

# Calculate the 'Ticket_Size' column
Cash_Dep_Data['TicketSize'] = Cash_Dep_Data['Gross'] - Cash_Dep_Data['Discount_Amount']

# Add the 'Scheme' column
Cash_Dep_Data['Scheme'] = 'CASH'

# Reorder columns and set index
Cash_Dep_Data = Cash_Dep_Data[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
Cash_Dep_Data.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

Cash_Dep_Data.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_CASH_Dep.csv', index=True)



#print(Cash_Grouped)

In [31]:
# Create FFS Corporate tables - footfalls/revenue/ticket size

# Define the columns you want to include in FFS_df
FFS_columns = ['account_name', 'patient_code', 'department','Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']


# Negate the condition using ~
FFS_df = Allsales_df[
    (Allsales_df['account_name'] != 'MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)') &
    (Allsales_df['account_name'] != 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)') &
    (Allsales_df['account_name'] != 'NHIF NATIONAL SCHEME') &
    (Allsales_df['account_name'] != 'NPS / KPS Capitation') &
    (Allsales_df['account_name'] != 'Bliss GVS Healthcare Ltd (W/O Co-Pay)') &
    (Allsales_df['account_name'] != 'Bliss GVS Healthcare Ltd (With Co-Pay)') &
    (Allsales_df['account_name'] != 'NHIF COMPREHENSIVE CIVIL SERVANTS') &
    (Allsales_df['account_name'] != 'CASH') &
    (Allsales_df['account_name'] != 'NHIF ENHANCED') &
    (Allsales_df['account_name'] != 'NHIF EDU AFYA') &
    (Allsales_df['account_name'] != 'MFI') &
    (Allsales_df['account_name'] != 'Iprocure Medical') &
    (Allsales_df['account_name'] != 'G4S PAMOJA') &
    (Allsales_df['account_name'] != 'DINLAS PHARMA EPZ LIMITED') &
    (Allsales_df['account_name'] != 'ELDOWAS') &
    (Allsales_df['account_name'] != 'HEALTHIER KENYA') &
    (Allsales_df['account_name'] != 'HK BOMA AFYA') &
    (Allsales_df['account_name'] != 'HK WOTE AFYA') &
    (Allsales_df['account_name'] != 'JUBILEE INSURANCE CAPITATION') &
    (Allsales_df['account_name'] != 'ZAMARA') &
   ~((Allsales_df['account_name'].str.contains("COUNTY|County|county")) & (Allsales_df['account_name'] != 'Meru County government'))

][FFS_columns].reset_index(drop=True)


FFS_df['Unique_ID'] = FFS_df['Invoive_No'].astype(str).str.cat(FFS_df['bill_date'].astype(str).str.cat(FFS_df['patient_code'].astype(str), sep='-'), sep='-')

# Group by 'Invoice_No' and calculate footfalls, revenue, and ticket size
FFS_Grouped = FFS_df .groupby('Unique_ID').agg(
    Invoive_No=('Invoive_No', 'first'),
    department=('department', 'first'),
    account_name=('account_name', 'first'),
    patient_code=('patient_code', 'first'),
    bill_date=('bill_date', 'first'),
    location_name=('location_name', 'first'),
    item_name=('item_name', 'first'),
    Gross=('Gross', 'sum'),
    Discount_Amount=('Discount_Amount', 'sum'),
    type=('type', 'first'),
    Month=('Month', 'first'),
).reset_index()



# Calculate the 'Amount' column as the multiplication by visit code'
FFS_Grouped['Revenue'] =FFS_Grouped['Gross'] - FFS_Grouped['Discount_Amount'] 

# Calculate the 'Footfall' column
FFS_Grouped['Footfall'] = 1

# Calculate the 'Ticket_Size' column
FFS_Grouped['TicketSize'] = FFS_Grouped['Gross'] - FFS_Grouped['Discount_Amount'] 


# Add the 'Scheme' column
FFS_Grouped['Scheme'] = 'FFS_CORPORATE'

# Reorder columns and set index
FFS_Grouped = FFS_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
FFS_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

FFS_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_FFS_CORPORATE.csv', index=True)


#print(Cash_Grouped)

In [32]:
# Create FFS Corporate tables - footfalls/revenue/ticket size

# Define the columns you want to include in FFS_df
FFS_Dep_columns = ['account_name', 'patient_code', 'department','Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']


# Negate the condition using ~
FFS_Dep_Grouped = Allsales_df[
    (Allsales_df['account_name'] != 'MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)') &
    (Allsales_df['account_name'] != 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)') &
    (Allsales_df['account_name'] != 'NHIF NATIONAL SCHEME') &
    (Allsales_df['account_name'] != 'NPS / KPS Capitation') &
    (Allsales_df['account_name'] != 'Bliss GVS Healthcare Ltd (W/O Co-Pay)') &
    (Allsales_df['account_name'] != 'Bliss GVS Healthcare Ltd (With Co-Pay)') &
    (Allsales_df['account_name'] != 'NHIF COMPREHENSIVE CIVIL SERVANTS') &
    (Allsales_df['account_name'] != 'CASH') &
    (Allsales_df['account_name'] != 'NHIF ENHANCED') &
    (Allsales_df['account_name'] != 'NHIF EDU AFYA') &
    (Allsales_df['account_name'] != 'MFI') &
    (Allsales_df['account_name'] != 'Iprocure Medical') &
    (Allsales_df['account_name'] != 'G4S PAMOJA') &
    (Allsales_df['account_name'] != 'DINLAS PHARMA EPZ LIMITED') &
    (Allsales_df['account_name'] != 'ELDOWAS') &
    (Allsales_df['account_name'] != 'HEALTHIER KENYA') &
    (Allsales_df['account_name'] != 'HK BOMA AFYA') &
    (Allsales_df['account_name'] != 'HK WOTE AFYA') &
    (Allsales_df['account_name'] != 'JUBILEE INSURANCE CAPITATION') &
    (Allsales_df['account_name'] != 'ZAMARA') &
   ~((Allsales_df['account_name'].str.contains("COUNTY|County|county")) & (Allsales_df['account_name'] != 'Meru County government'))&
    (Allsales_df['type'].notnull())

][FFS_Dep_columns].reset_index(drop=True)


## Concatenate strings with hyphen as a separator
#FFS_Grouped['Unique_ID'] = FFS_Grouped['bill_date'].astype(str).str.cat(FFS_Grouped['department'].astype(str).str.cat(FFS_Grouped['patient_code'].astype(str)),sep='-'

#FFS_Grouped['Unique_ID'] = FFS_Grouped['bill_date'].astype(str).str.cat(FFS_Grouped['department'].astype(str), sep='-')


from datetime import datetime, timedelta


FFS_Dep_Grouped['Unique_ID'] = FFS_Dep_Grouped['Invoive_No'].astype(str).str.cat(FFS_Dep_Grouped['bill_date'].astype(str).str.cat(FFS_Dep_Grouped['department'].astype(str), sep='-'), sep='-')

# Assuming 'Invoive_No' is the column you want to use for grouping
FFS_Dep_Grouped['Footfall'] = (~FFS_Dep_Grouped.duplicated(subset='Unique_ID')).astype(int)


# Calculate the 'Amount' column as the multiplication by visit code'
FFS_Dep_Grouped['Revenue'] =FFS_Dep_Grouped['Gross'] -FFS_Dep_Grouped['Discount_Amount'] 

# Calculate the 'Ticket_Size' column
FFS_Dep_Grouped['TicketSize'] = FFS_Dep_Grouped['Gross'] - FFS_Dep_Grouped['Discount_Amount'] 

# Add the 'Scheme' column
FFS_Dep_Grouped['Scheme'] = 'FFS_CORPORATE'

# Reorder columns and set index
FFS_Dep_Grouped =FFS_Dep_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
FFS_Dep_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)
import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

FFS_Dep_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_FFS_CORPORATE_Dep.csv', index=True)

In [33]:
# Create Nhif_FFS tables - footfalls/revenue/ticket size

# Define the columns you want to include in Nhif_FFS_df
Nhif_FFS_columns = ['account_name','patient_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create Nhif_FFS_df by filtering Allsales_df
Nhif_FFS_df = Allsales_df[
    (Allsales_df['account_name'] == 'NHIF EDU AFYA') |
    (Allsales_df['account_name'] == 'NHIF ENHANCED') |
    (Allsales_df['account_name'] == 'NHIF COMPREHENSIVE CIVIL SERVANTS')
][Nhif_FFS_columns].reset_index(drop=True)

# Concatenate strings with hyphen as a separator
Nhif_FFS_df ['Unique_ID'] = Nhif_FFS_df ['bill_date'].astype(str).str.cat(Nhif_FFS_df['patient_code'].astype(str).str.cat(Nhif_FFS_df['Invoive_No'].astype(str)),sep='-'
)

# Assuming 'Invoive_No' is the column you want to use for grouping
Nhif_FFS_df['Footfall'] = (~Nhif_FFS_df.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Amount' column as the sum of the difference between 'Gross' and 'Discounted Amount'
Nhif_FFS_df ['Revenue'] = Nhif_FFS_df ['Gross'] - Nhif_FFS_df ['Discount_Amount']


# Calculate the 'Ticket_Size' column
Nhif_FFS_df ['TicketSize'] = Nhif_FFS_df ['Gross'] - Nhif_FFS_df ['Discount_Amount']
Nhif_FFS_df ['Scheme']  = 'NHIF_FFS'
# Drop the 'Gross' and 'Discount_Amount' columns

# Reorder columns and set index
Nhif_FFS_Grouped = Nhif_FFS_df[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
Nhif_FFS_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

Nhif_FFS_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_FFS.csv', index=True)


#print(Cash_Grouped)

In [34]:
# Create Nhif_FFS tables - footfalls/revenue/ticket size

# Define the columns you want to include in Nhif_FFS_df
Nhif_FFS_Dep_columns = ['account_name','patient_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create Nhif_FFS_df by filtering Allsales_df
Nhif_FFS_Dep_Grouped = Allsales_df[
    (Allsales_df['account_name'] == 'NHIF EDU AFYA') |
    (Allsales_df['account_name'] == 'NHIF ENHANCED') |
    (Allsales_df['account_name'] == 'NHIF COMPREHENSIVE CIVIL SERVANTS')
][Nhif_FFS_Dep_columns].reset_index(drop=True)

Nhif_FFS_Dep_Grouped['Unique_ID'] = Nhif_FFS_Dep_Grouped['Invoive_No'].astype(str).str.cat(Nhif_FFS_Dep_Grouped['department'].astype(str), sep='-')

# Assuming 'Invoive_No' is the column you want to use for grouping
Nhif_FFS_Dep_Grouped['Footfall'] = (~Nhif_FFS_Dep_Grouped.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Amount' column as the sum of the difference between 'Gross' and 'Discounted Amount'
Nhif_FFS_Dep_Grouped ['Revenue'] = Nhif_FFS_Dep_Grouped ['Gross'] - Nhif_FFS_Dep_Grouped ['Discount_Amount']


# Calculate the 'Ticket_Size' column
Nhif_FFS_Dep_Grouped ['TicketSize'] = Nhif_FFS_Dep_Grouped ['Gross'] - Nhif_FFS_Dep_Grouped ['Discount_Amount']


Nhif_FFS_Dep_Grouped ['Scheme']  = 'NHIF_FFS'
# Drop the 'Gross' and 'Discount_Amount' columns

# Reorder columns and set index
Nhif_FFS_Dep_Grouped = Nhif_FFS_Dep_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
Nhif_FFS_Dep_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

Nhif_FFS_Dep_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_FFS_Dep.csv', index=True)


#print(Cash_Grouped)

In [35]:
# Create NHIF CAPITATION  - footfalls/revenue/ticket size

# Define the columns you want to include in Nhif_FFS_df
Nhif_capitation_columns = ['account_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create Nhif_FFS_df by filtering Allsales_df
NHIF_Capitation_Grouped = Allsales_df[
    (Allsales_df['account_name'] == 'NHIF NATIONAL SCHEME')

][Nhif_capitation_columns].reset_index(drop=True)

# Assuming 'bill_date' is already in datetime format
NHIF_Capitation_Grouped['bill_date'] = pd.to_datetime(NHIF_Capitation_Grouped['bill_date'])


# Calculate the 'Footfall' column
NHIF_Capitation_Grouped['Total Footfall'] = NHIF_Capitation_Grouped['Invoive_No'].nunique()

# Calculate the 'Amount' column as the multiplication by visit code
NHIF_Capitation_Grouped['Revenue'] = (~NHIF_Capitation_Grouped.duplicated(subset='Invoive_No'))*(9790000/NHIF_Capitation_Grouped['Total Footfall'])

# Calculate the 'Footfall' column
NHIF_Capitation_Grouped['Footfall'] = (~NHIF_Capitation_Grouped.duplicated(subset='Invoive_No')).astype(int)

# Calculate the 'Ticket_Size' column
NHIF_Capitation_Grouped['TicketSize'] = (~NHIF_Capitation_Grouped.duplicated(subset='Invoive_No'))*(9790000/NHIF_Capitation_Grouped['Total Footfall'])

# Add the 'Scheme' column
NHIF_Capitation_Grouped['Scheme'] = 'NHIF_CAPITATION'

# Reorder columns and set index
NHIF_Capitation_Grouped = NHIF_Capitation_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
NHIF_Capitation_Grouped.set_index([
    'account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)
#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

NHIF_Capitation_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_Capitation.csv', index=True)


#print(Cash_Grouped)

In [36]:
#IMPORT COUNTY TABLES-footfalls/revenue/ticket size

# Define the columns you want to include in OTHER_Cap_columns_df
IPROCURE_Cap_columns = ['account_name', 'patient_code','department','Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
IPROCURE_Cap_df = Allsales_df[Allsales_df['account_name'].isin(['Iprocure Medical'])][IPROCURE_Cap_columns].reset_index(drop=True)


# print(len(County_optical_df))
# print(len(County_dental_df))

# Assuming County_Capitation_df is your DataFrame

# Convert 'bill_date' to datetime if it's not already in datetime format
IPROCURE_Cap_df['bill_date'] = pd.to_datetime(IPROCURE_Cap_df['bill_date'])



# Calculate the 'Amount' column as the multiplication by visit code
IPROCURE_Cap_df['Revenue'] = (~IPROCURE_Cap_df.duplicated(subset='Invoive_No'))*1321.24

# Calculate the 'Footfall' column
IPROCURE_Cap_df['Footfall'] = (~IPROCURE_Cap_df.duplicated(subset='Invoive_No')).astype(int)
# Calculate the 'Ticket_Size' column
IPROCURE_Cap_df['TicketSize'] = (~IPROCURE_Cap_df.duplicated(subset='Invoive_No')).astype(int)*1321.24

# Add the 'Scheme' column
IPROCURE_Cap_df['Scheme'] = 'TSC'

# Reorder columns and set index
IPROCURE_Cap_Grouped = IPROCURE_Cap_df[[
    'account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
IPROCURE_Cap_df.set_index([
    'account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)


import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame
IPROCURE_Cap_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_IPROCURE _Capitation.csv', index=False)

In [37]:
#IMPORT G4S TABLES-footfalls/revenue/ticket size

# Define the columns you want to include in OTHER_Cap_columns_df
G4S_Cap_columns = ['account_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
G4S_Cap_df = Allsales_df[Allsales_df['account_name'].isin(['G4S PAMOJA','ZAMARA'])][G4S_Cap_columns].reset_index(drop=True)


# Assuming County_Capitation_df is your DataFrame

# Convert 'bill_date' to datetime if it's not already in datetime format
G4S_Cap_df['bill_date'] = pd.to_datetime(G4S_Cap_df['bill_date'])

# Calculate the 'Amount' column as the multiplication by visit code'
G4S_Cap_df['Revenue'] = (~G4S_Cap_df.duplicated(subset='Invoive_No'))*1321.24

# Calculate the 'Footfall' column
G4S_Cap_df['Footfall'] = (~G4S_Cap_df.duplicated(subset='Invoive_No')).astype(int)

# Calculate the 'Ticket_Size' column
G4S_Cap_df['TicketSize'] = (~G4S_Cap_df.duplicated(subset='Invoive_No'))*1321.24

# Add the 'Scheme' column
G4S_Cap_df['Scheme'] = 'TSC'

# Reorder columns and set index
G4S_Cap_df = G4S_Cap_df[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
G4S_Cap_df.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

G4S_Cap_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_G4S _Capitation.csv', index=True)

In [38]:
#IMPORT HEALTHIER KENYA-footfalls/revenue/ticket size

# Define the columns you want to include in OTHER_Cap_columns_df
HEALTHIER_Cap_columns = ['account_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
HEALTHIER_Cap_columns_Grouped = Allsales_df[Allsales_df['account_name'].isin(['MFI', 'HEALTHIER KENYA', 'Bliss GVS Healthcare Ltd (W/O Co-Pay)','Bliss GVS Healthcare Ltd (With Co-Pay)', 'HK WOTE AFYA'])][HEALTHIER_Cap_columns].reset_index(drop=True)


# print(len(County_optical_df))
# print(len(County_dental_df))

# Assuming County_Capitation_df is your DataFrame

# Convert 'bill_date' to datetime if it's not already in datetime format
HEALTHIER_Cap_columns_Grouped['bill_date'] = pd.to_datetime(HEALTHIER_Cap_columns_Grouped['bill_date'])


# Display the DataFrame after removing duplicates
# print(County_Capitation_df[['patient_code', 'bill_date', 'Unique_ID']])


# Calculate the 'Footfall' column
HEALTHIER_Cap_columns_Grouped['Total Footfall'] = HEALTHIER_Cap_columns_Grouped['Invoive_No'].nunique()

# Calculate the 'Footfall' column
HEALTHIER_Cap_columns_Grouped['Footfall']=(~HEALTHIER_Cap_columns_Grouped.duplicated(subset='Invoive_No')).astype(int)

# Calculate the 'Amount' column as the multiplication by visit code'
HEALTHIER_Cap_columns_Grouped['Revenue'] = (~HEALTHIER_Cap_columns_Grouped.duplicated(subset='Invoive_No'))*(10800000/HEALTHIER_Cap_columns_Grouped['Total Footfall'] )

# Calculate the 'Ticket_Size' column
HEALTHIER_Cap_columns_Grouped['TicketSize'] = (~HEALTHIER_Cap_columns_Grouped.duplicated(subset='Invoive_No'))*(10800000/HEALTHIER_Cap_columns_Grouped['Total Footfall'] )

# Add the 'Scheme' column
HEALTHIER_Cap_columns_Grouped['Scheme'] = 'HEALTHIER KENYA'


# Drop the 'Total Footfall' column
HEALTHIER_Cap_columns_Grouped = HEALTHIER_Cap_columns_Grouped.drop('Total Footfall', axis=1)

# Reorder columns and set index
HEALTHIER_Cap_columns = HEALTHIER_Cap_columns_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
HEALTHIER_Cap_columns_Grouped.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

HEALTHIER_Cap_columns_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_HK _Capitation.csv', index=True)

In [39]:
import pandas as pd

df__Actual_Cash = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_CASH.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
         'department': str,
        'item_name'	: str,
        'Scheme': str

    }
)

In [40]:
import pandas as pd

df__Actual_Cash_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_CASH_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
         'department': str,
        'item_name'	: str,
        'Scheme': str

    }
)

In [41]:
#IMPORT COUNTY 

import pandas as pd

df__COUNTY_Cap = pd.read_csv( 
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Capitation.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
         'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [42]:
#IMPORT COUNTY DENGTAL

import pandas as pd

df__COUNTY_Den = pd.read_csv( 
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY__Dental.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
         'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [43]:
#IMPORT COUNTY  CT SCAN

import pandas as pd

df__COUNTY_CTscan = pd.read_csv( 
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_CtScan.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
        'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [44]:
#IMPORT COUNTY  CT  OPTICAL

import pandas as pd

df__COUNTY_Opt = pd.read_csv( 
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Optical.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [45]:
#IMPORT FFS CORPORATE

import pandas as pd  

df__Actual_FFS_Corporate = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_FFS_CORPORATE.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [46]:
#IMPORT FFS CORPORATE

import pandas as pd  

df__Actual_FFS_Dep_Corporate = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_FFS_CORPORATE_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [47]:
#IMPORT NHIF FFS

import pandas as pd  

df__Actual_NHIF_ffs = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_FFS.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [48]:
#IMPORT NHIF FFS

import pandas as pd  

df__Actual_NHIF_Dep_ffs = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_FFS_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [49]:
#IMPORT NPS CAPITATION

import pandas as pd  

df__Actual_NPS_Capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_cap_Others_.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [50]:
#IMPORT NPS DEPARTMENT

import pandas as pd   

df__Actual_NPS_Departments = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_Opt-den_Ct.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [51]:
#IMPORT TSC CAPITATION

import pandas as pd    

df__Actual_TSC_Capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Others.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [52]:
#IMPORT TSC CTSCAN

import pandas as pd    

df__Actual_TSC_Ctscan= pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_CtScan.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [53]:
#IMPORT TSC DENTAL

import pandas as pd

df__Actual_TSC_dental= pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Dental.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [54]:
#IMPORT TSC OPTICAL

import pandas as pd

df__Actual_TSC_optical= pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Optical.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,	
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [55]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_Nhif_capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_Capitation.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [56]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_IPROCURE_capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_IPROCURE _Capitation.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [57]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_HEALTHIERKENYA_capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_HK _Capitation.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [58]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_G4S_capitation = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_G4S _Capitation.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [59]:

# Filter rows where 'patient_code' contains '/'
#filtered_rows = Allschemes_df[Allschemes_df['patient_code'].str.contains('/', na=False)]

# Display the filtered DataFrame
#print(filtered_rows)

In [60]:
#('/','/;/L','/*', '')

#Allschemes_df['patient_code'] = Allschemes_df['patient_code'].str.replace('\\', '')

In [61]:
# Filter rows where 'patient_code' contains '/'
#filtered_rows = Allschemes_df[Allschemes_df['patient_code'].str.contains('', na=False)]

# Display the filtered DataFrame
#print(filtered_rows)

In [62]:
import pandas as pd

# Define the columns you want to include in TSC_Capitation_df
TSC_Cap_Dep_Columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Combine similar conditions for readability
conditions = (
    (
        (Allsales_df['account_name'].isin(['MINET KENYA INSURANCE BROKERS LTD (W/O Co-Pay)', 'MINET KENYA INSURANCE BROKERS LTD (With Co-Pay)'])) &
        (Allsales_df['type'] != 'DENTAL') &
        ~Allsales_df['type'].isin(['OPTICAL', 'Ophthalmology']) &
        ~Allsales_df['item_name'].str.startswith("CT Scan") &
        Allsales_df['type'].notnull()
    )
)

# Create TSC_Capitation_df by filtering Allsales_df
TSC_Cap_Dep_df = Allsales_df.loc[conditions, TSC_Cap_Dep_Columns].reset_index(drop=True)

# Sort the DataFrame if needed
# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
TSC_Cap_Dep_df['Unique_ID'] = TSC_Cap_Dep_df['Invoive_No'].astype(str).str.cat(TSC_Cap_Dep_df['department'].astype(str), sep='-')
# Calculate common conditions once

duplicate_condition = ~TSC_Cap_Dep_df.duplicated(subset='Unique_ID')


# Calculate columns with common conditions
TSC_Cap_Dep_df['Footfall'] = duplicate_condition.astype(int)
TSC_Cap_Dep_df['Revenue'] = duplicate_condition *  1321.24 

TSC_Cap_Dep_df['TicketSize'] = duplicate_condition *  1321.24 


# Add the 'Scheme' column
TSC_Cap_Dep_df['Scheme'] = 'TSC'

# Reorder columns
TSC_Cap_Dep_df = TSC_Cap_Dep_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]

# Export TSC Capitation CSV
TSC_Cap_Dep_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Others_Dep.csv', index=False)

In [63]:

# Define the columns you want to include in County_Capitation_df
County_Cap_Dep_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create County_Capitation_df by filtering Allsales_df
County_Cap_Dep_filter = (
    (Allsales_df['account_name'].str.contains("COUNTY|County|county", case=False, regex=True)) &
    ((Allsales_df['account_name'] != 'Meru County government') & (Allsales_df['account_name'] != 'Nairobi City County'))
)

County_Cap_Dep_df = Allsales_df.loc[County_Cap_Dep_filter, County_Cap_Dep_columns].reset_index(drop=True)


# Concatenate strings with hyphen as a separator
County_Cap_Dep_df['Unique_ID'] = County_Cap_Dep_df['Invoive_No'].astype(str).str.cat(
    County_Cap_Dep_df['department'].astype(str),
    sep='-'
)

# Calculate common conditions once
duplicate_condition = ~County_Cap_Dep_df.duplicated(subset='Unique_ID')
County_Cap_Dep_df['Revenue'] = duplicate_condition * 1321.24
County_Cap_Dep_df['Footfall'] = duplicate_condition.astype(int)
County_Cap_Dep_df['TicketSize'] = duplicate_condition * 1321.24

# Add the 'Scheme' column
County_Cap_Dep_df['Scheme'] = 'TSC'

# Reorder columns and set index
County_Cap_Dep_df = County_Cap_Dep_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
County_Cap_Dep_df.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
# print(tabulate(County_Capitation_df.head(), headers='keys', tablefmt='pretty'))

# Export County Capitation CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Capitation_Dep.csv'
County_Cap_Dep_df.to_csv(output_path, index=True)

In [64]:


# Define the columns you want to include in NPS_Capitation_df
NPS_Cap_Dep_Columns = ['account_name', 'patient_code', 'Invoive_No', 'department', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter Allsales_df and create NPS_Capitation_df
NPS_Cap_Dep_df = Allsales_df[
    (Allsales_df['account_name'] == 'NPS / KPS Capitation') &
    (Allsales_df['type'].isin(['DENTAL', 'OPTICAL'])) &
    (~Allsales_df['item_name'].str.startswith("CT Scan")) &
    (Allsales_df['type'].notnull())
][NPS_Cap_Dep_Columns].reset_index(drop=True)

# Create the 'Unique_ID' column
NPS_Cap_Dep_df['Unique_ID'] = NPS_Cap_Dep_df['Invoive_No'].astype(str).str.cat(NPS_Cap_Dep_df['department'].astype(str), sep='-')

# Calculate columns with common conditions
duplicated_mask = ~NPS_Cap_Dep_df.duplicated(subset='Unique_ID')
NPS_Cap_Dep_df['Footfall'] = duplicated_mask.astype(int)
NPS_Cap_Dep_df['Revenue'] = duplicated_mask *  1320.45 

NPS_Cap_Dep_df['TicketSize'] = duplicated_mask *  1320.45 


# Add the 'Scheme' column
NPS_Cap_Dep_df['Scheme'] = 'NPS'

# Reorder columns and set index
NPS_Cap_Dep_df = NPS_Cap_Dep_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
NPS_Cap_Dep_df.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Export to CSV
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_cap_Others_Dep.csv'
NPS_Cap_Dep_df.to_csv(output_path, index=True)

In [65]:
# Create NHIF CAPITATION  - footfalls/revenue/ticket size

# Define the columns you want to include in Nhif_FFS_df
Nhif_capitation_Dep_columns = ['account_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Create Nhif_FFS_df by filtering Allsales_df
Nhif_capitation_Dep_Grouped = Allsales_df[
    (Allsales_df['account_name'] == 'NHIF NATIONAL SCHEME')

][Nhif_capitation_Dep_columns].reset_index(drop=True)

# Assuming 'bill_date' is already in datetime format
Nhif_capitation_Dep_Grouped['bill_date'] = pd.to_datetime(Nhif_capitation_Dep_Grouped['bill_date'])

# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
Nhif_capitation_Dep_Grouped['Unique_ID'] = Nhif_capitation_Dep_Grouped['Invoive_No'].astype(str).str.cat(Nhif_capitation_Dep_Grouped['department'].astype(str), sep='-')
# Calculate the 'Footfall' column
Nhif_capitation_Dep_Grouped['Total Footfall'] = Nhif_capitation_Dep_Grouped['Invoive_No'].nunique()

# Calculate the 'Amount' column as the multiplication by visit code
Nhif_capitation_Dep_Grouped['Revenue'] = (~Nhif_capitation_Dep_Grouped.duplicated(subset='Unique_ID'))*(9790000/Nhif_capitation_Dep_Grouped['Total Footfall'])

# Calculate the 'Footfall' column
Nhif_capitation_Dep_Grouped['Footfall'] = (~Nhif_capitation_Dep_Grouped.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Ticket_Size' column
Nhif_capitation_Dep_Grouped['TicketSize'] = (~Nhif_capitation_Dep_Grouped.duplicated(subset='Invoive_No'))*(9790000/Nhif_capitation_Dep_Grouped['Total Footfall'])

# Add the 'Scheme' column
Nhif_capitation_Dep_Grouped['Scheme'] = 'NHIF_CAPITATION'

# Reorder columns and set index
Nhif_capitation_Dep_Grouped = Nhif_capitation_Dep_Grouped[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
Nhif_capitation_Dep_Grouped.set_index([
    'account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)
#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

Nhif_capitation_Dep_Grouped.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_Capitation_Dep.csv', index=True)


#print(Cash_Grouped)

In [66]:

# Define the columns you want to include in IPROCURE_Cap_df
IPROCURE_Cap_Dep_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
IPROCURE_Cap_Dep_df = Allsales_df[Allsales_df['account_name'] == 'Iprocure Medical'][IPROCURE_Cap_Dep_columns].reset_index(drop=True)

# Convert 'bill_date' to datetime if it's not already in datetime format
IPROCURE_Cap_Dep_df['bill_date'] = pd.to_datetime(IPROCURE_Cap_Dep_df['bill_date'])

# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
IPROCURE_Cap_Dep_df['Unique_ID'] = IPROCURE_Cap_Dep_df['Invoive_No'].astype(str).str.cat(IPROCURE_Cap_Dep_df['department'].astype(str), sep='-')

# Calculate columns with common conditions
duplicated_mask = ~IPROCURE_Cap_Dep_df.duplicated(subset='Unique_ID')
IPROCURE_Cap_Dep_df['Revenue'] = duplicated_mask * 1321.24
IPROCURE_Cap_Dep_df['Footfall'] = duplicated_mask.astype(int)
IPROCURE_Cap_Dep_df['TicketSize'] = duplicated_mask.astype(int)

# Add the 'Scheme' column
IPROCURE_Cap_Dep_df['Scheme'] = 'TSC'

# Reorder columns and set index
IPROCURE_Cap_Dep_df = IPROCURE_Cap_Dep_df[[
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
]]
IPROCURE_Cap_Dep_df.set_index([
    'account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'
], inplace=True)

# Define the output file path
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_IPROCURE_Capitation.Dep.csv'

# Check if the directory exists, if not, create it
output_directory = os.path.dirname(output_path)
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Save the DataFrame to a CSV file
IPROCURE_Cap_Dep_df.to_csv(output_path, index=True)

In [67]:
import pandas as pd

# Define the columns you want to include in G4S_Cap_df
G4S_Cap_Dep_columns = ['account_name', 'patient_code', 'department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
G4S_Cap_Dep_df = Allsales_df[Allsales_df['account_name'].isin(['G4S PAMOJA', 'ZAMARA'])][G4S_Cap_Dep_columns].reset_index(drop=True)

# Convert 'bill_date' to datetime if it's not already in datetime format
G4S_Cap_Dep_df['bill_date'] = pd.to_datetime(G4S_Cap_Dep_df['bill_date'])

# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
G4S_Cap_Dep_df['Unique_ID'] = G4S_Cap_Dep_df['Invoive_No'].astype(str).str.cat(G4S_Cap_Dep_df['department'].astype(str), sep='-')


# Calculate columns with common conditions
duplicated_mask = ~G4S_Cap_Dep_df.duplicated(subset='Unique_ID')
G4S_Cap_Dep_df['Revenue'] = duplicated_mask * 1321.24
G4S_Cap_Dep_df['Footfall'] = duplicated_mask.astype(int)
G4S_Cap_Dep_df['TicketSize'] = duplicated_mask * 1321.24

# Add the 'Scheme' column
G4S_Cap_Dep_df['Scheme'] = 'TSC'

# Reorder columns and set index
G4S_Cap_Dep_df = G4S_Cap_Dep_df[['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
G4S_Cap_Dep_df.set_index(['account_name', 'patient_code', 'Invoive_No', 'bill_date', 'location_name', 'department', 'item_name', 'Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Define the output file path
output_path = 'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_G4S_Capitation_Dep.csv'

# Check if the directory exists, if not, create it
output_directory = os.path.dirname(output_path)
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Save the DataFrame to a CSV file
G4S_Cap_Dep_df.to_csv(output_path, index=True)

In [68]:


#IMPORT HEALTHIER KENYA-footfalls/revenue/ticket size

# Define the columns you want to include in OTHER_Cap_columns_df
HEALTHIER_Cap_Dep_columns = ['account_name', 'patient_code','department', 'Invoive_No', 'bill_date', 'location_name', 'Gross', 'Discount_Amount', 'item_name', 'type', 'Month']

# Filter the DataFrame based on the selected account names and select columns
HEALTHIER_Cap_Dep_df = Allsales_df[Allsales_df['account_name'].isin(['MFI', 'HEALTHIER KENYA', 'Bliss GVS Healthcare Ltd (W/O Co-Pay)','Bliss GVS Healthcare Ltd (With Co-Pay)', 'HK WOTE AFYA'])][HEALTHIER_Cap_Dep_columns].reset_index(drop=True)


# Display the DataFrame after removing duplicates
# print(County_Capitation_df[['patient_code', 'bill_date', 'Unique_ID']])


# Calculate the 'Footfall' column
HEALTHIER_Cap_Dep_df['Total Footfall'] = HEALTHIER_Cap_Dep_df['Invoive_No'].nunique()

# TSC_Capitation_df.sort_values(by=['bill_date', 'patient_code'], inplace=True)
HEALTHIER_Cap_Dep_df['Unique_ID'] = HEALTHIER_Cap_Dep_df['Invoive_No'].astype(str).str.cat(HEALTHIER_Cap_Dep_df['department'].astype(str), sep='-')

# Calculate the 'Footfall' column
HEALTHIER_Cap_Dep_df['Footfall']=(~HEALTHIER_Cap_Dep_df.duplicated(subset='Unique_ID')).astype(int)

# Calculate the 'Amount' column as the multiplication by visit code'
HEALTHIER_Cap_Dep_df['Revenue'] = (~HEALTHIER_Cap_Dep_df.duplicated(subset='Unique_ID'))*(10800000/HEALTHIER_Cap_Dep_df['Total Footfall'] )

# Calculate the 'Ticket_Size' column
HEALTHIER_Cap_Dep_df['TicketSize'] = (~HEALTHIER_Cap_Dep_df.duplicated(subset='Unique_ID'))*(10800000/HEALTHIER_Cap_Dep_df['Total Footfall'] )

# Add the 'Scheme' column
HEALTHIER_Cap_Dep_df['Scheme'] = 'HEALTHIER KENYA'


# Drop the 'Total Footfall' column
HEALTHIER_Cap_Dep_df = HEALTHIER_Cap_Dep_df.drop('Total Footfall', axis=1)

# Reorder columns and set index
HEALTHIER_Cap_Dep_df = HEALTHIER_Cap_Dep_df[['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme']]
HEALTHIER_Cap_Dep_df.set_index(['account_name','patient_code', 'Invoive_No', 'bill_date', 'location_name','department', 'item_name','Gross', 'Discount_Amount', 'type', 'Month', 'Footfall', 'Revenue', 'TicketSize', 'Scheme'], inplace=True)

# Display the resulting DataFrame
#print(TSC_Dental_Grouped)

#Export TSC DENTAL CSV

import os
# Assuming TSC_Dental_Grouped is your grouped DataFrame

HEALTHIER_Cap_Dep_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_HK _Capitation_Dep.csv', index=True)

In [69]:
#IMPORT COUNTY 

import pandas as pd

df__COUNTY_Cap_Dep = pd.read_csv( 
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_COUNTY_Capitation_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
         'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [70]:
#IMPORT NPS CAPITATION

import pandas as pd  

df__Actual_NPS_Capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NPS_cap_Others_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [71]:
#IMPORT TSC CAPITATION

import pandas as pd    

df__Actual_TSC_Capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_TSC_Others_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [72]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_Nhif_capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_NHIF_Capitation_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [73]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_IPROCURE_capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_IPROCURE_Capitation.Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [74]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_HEALTHIERKENYA_capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_G4S_Capitation_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,		
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [75]:
#IMPORT NHIF CAPITATION

import pandas as pd

df__Actual_G4S_capitation_Dep = pd.read_csv(
    'c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Actual_G4S_Capitation_Dep.csv',
    encoding='Utf-8',
    thousands=',',
    dtype={
        'Month': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'type': str,
         'account_name': str,
         'patient_code'	: str,
         'Invoive_No'	: str,
         'bill_date	' : str,
         'location_name': str,
          'department': str,	
        'item_name'	: str,
        'Scheme': str
    
    }
)

In [76]:
# Concatenate the DataFrames into a single DataFrame
Allschemes_df = pd.concat([df__Actual_Nhif_capitation, df__Actual_TSC_optical,
                        df__Actual_Cash, df__COUNTY_Cap, df__COUNTY_CTscan, df__COUNTY_Den, df__COUNTY_Opt,
                        df__Actual_FFS_Corporate, df__Actual_NHIF_ffs,
                        df__Actual_NPS_Capitation, df__Actual_NPS_Departments, df__Actual_TSC_Capitation, df__Actual_TSC_Ctscan, df__Actual_TSC_dental, df__Actual_G4S_capitation, df__Actual_HEALTHIERKENYA_capitation, df__Actual_IPROCURE_capitation], ignore_index=True)

C:\Users\Buma\AppData\Local\Temp\ipykernel_12940\4110714275.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  Allschemes_df = pd.concat([df__Actual_Nhif_capitation, df__Actual_TSC_optical,

In [77]:
Allschemes_df.head()

,account_name,patient_code,Invoive_No,bill_date,location_name,department,item_name,Gross,Discount_Amount,type,Month,Footfall,Revenue,TicketSize,Scheme
0,NHIF NATIONAL SCHEME,BM23.25347,BM23/37743,2024-01-29,Bliss Medical Centre Kitui,Pharmacy,Hydrocortisone Cream 15Gm,150.0,0.0,Pharmacy,January,1.0,1455.978584,1455.978584,NHIF_CAPITATION
1,NHIF NATIONAL SCHEME,BM60.19389,BM60/28363,2024-01-22,Bliss Medical Centre Kapenguria,Pharmacy,Chlorpheniramine 2Mg/5Ml Syrup 100Ml,150.0,0.0,Pharmacy,January,1.0,1455.978584,1455.978584,NHIF_CAPITATION
2,NHIF NATIONAL SCHEME,BM72.13907,BM72/25195,2024-01-29,Medicross Medical Centre Mumias,Pharmacy,Metronidazole Suspension 100Ml,150.0,0.0,Pharmacy,January,1.0,1455.978584,1455.978584,NHIF_CAPITATION
3,NHIF NATIONAL SCHEME,BM59.29714,BM59/41280,2024-01-22,Bliss Medical Centre Zion Mall,Pharmacy,Oxifast Mr Tablet,300.0,0.0,Pharmacy,January,1.0,1455.978584,1455.978584,NHIF_CAPITATION
4,NHIF NATIONAL SCHEME,BM55.8077,BM55/12235,2024-01-02,Bliss Medical Centre Maralal,Pharmacy,Abnal Nasal Drops 10Ml,150.0,0.0,Pharmacy,January,1.0,1455.978584,1455.978584,NHIF_CAPITATION

In [78]:
# Concatenate the DataFrames into a single DataFrame
AllDepartment_df = pd.concat([
                           df__Actual_Cash_Dep,
                           df__Actual_FFS_Dep_Corporate, df__Actual_NHIF_Dep_ffs,df__COUNTY_Cap_Dep,df__COUNTY_Den,df__COUNTY_CTscan,df__COUNTY_Opt,df__Actual_NPS_Departments,df__Actual_NPS_Capitation_Dep,df__Actual_TSC_Capitation_Dep,df__Actual_TSC_Ctscan,df__Actual_TSC_dental,df__Actual_TSC_optical,df__Actual_G4S_capitation_Dep,df__Actual_IPROCURE_capitation_Dep,df__Actual_HEALTHIERKENYA_capitation_Dep], ignore_index=True)

C:\Users\Buma\AppData\Local\Temp\ipykernel_12940\3480735389.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  AllDepartment_df = pd.concat([

In [79]:
AllDepartment_df.head()

,account_name,patient_code,Invoive_No,bill_date,location_name,department,item_name,Gross,Discount_Amount,type,Month,Footfall,Revenue,TicketSize,Scheme
0,CASH,BM27.14686,NaN,2024-01-23,Bliss Medical Centre Emali,OP Consultations,Joshua Muinde Mbiti ( Dental ),500.0,0.0,DENTAL,January,1.0,500.0,500.0,CASH
1,CASH,BM45.18464,NaN,2024-01-15,Bliss Medical Centre College House,OP Consultations,Thomas Kizito Rabah ( GENERAL OPD ),500.0,0.0,GENERAL OPD,January,1.0,500.0,500.0,CASH
2,CASH,BM27.14756,NaN,2024-01-31,Bliss Medical Centre Emali,OP Consultations,Joshua Muinde Mbiti ( Dental ),500.0,0.0,DENTAL,January,1.0,500.0,500.0,CASH
3,CASH,BM45.18683,NaN,2024-01-27,Bliss Medical Centre College House,OP Consultations,Thomas Kizito Rabah ( GENERAL OPD ),500.0,0.0,GENERAL OPD,January,1.0,500.0,500.0,CASH
4,CASH,BM45.18465,NaN,2024-01-15,Bliss Medical Centre College House,OP Consultations,Thomas Kizito Rabah ( GENERAL OPD ),500.0,0.0,GENERAL OPD,January,1.0,500.0,500.0,CASH

In [80]:
#EXPOERT THENENTIRE DUMP TO CSV

Allschemes_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Allsales.csv', index=False)



#EXPOERT THENENTIRE DUMP TO CSV

AllDepartment_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/AllSummary2024/Departments.csv', index=False)

In [81]:
# Convert 'bill_date' column to datetime format
Allschemes_df['bill_date'] = pd.to_datetime(Allschemes_df['bill_date'])

# Get the maximum date
max_date = Allschemes_df['bill_date'].dt.date.max()
print(max_date)

# Assuming max_date is a datetime object
Last_Updated = pd.DataFrame({'Last_Updated': [max_date]})

2024-04-30

In [82]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 
import io

Last_Updated['Last_Updated']

# Convert 'bill_date' to datetime type
Last_Updated['Last_Updated'] = pd.to_datetime(Last_Updated['Last_Updated']).dt.date

# Create a SQLAlchemy engine
engine = create_engine(
    'postgresql+psycopg2://postgres.effdqrpabawzgqvugxup:OWyJ8HF6AjXiK6SH@aws-0-eu-central-1.pooler.supabase.com:5432/postgres')

# Drop old table and create new empty table
Last_Updated.head(0).to_sql('Last_Update', engine, if_exists='replace', index=False)

# Insert data into the database
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
Last_Updated.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'Last_Update', null="")
conn.commit()
cur.close()
conn.close()

In [83]:
import pandas as pd

# Assuming 'Month', 'Revenue', and 'Scheme' are columns in your DataFrame
total_budget_revenue = Allschemes_df.loc[(Allschemes_df['Month'] == 'March') & (Allschemes_df['Scheme'] == 'CASH'), 'Revenue'].sum()

print(total_budget_revenue)

5535353.0

In [84]:
# Concatenate the DataFrames into a single DataFrame
Mergeschemes_df= Allschemes_df
# Concatenate the DataFrames into a single DataFrame
MergeDepartment_df= AllDepartment_df

STREAMLIT PROJECT

In [85]:
#ALLDEPARTMENTS  TABLE

# Convert 'bill_date' to datetime type
MergeDepartment_df ['bill_date'] = pd.to_datetime(MergeDepartment_df ['bill_date'])

# Group by 'Invoive_No', 'location_name', and daily date
Alldepartment_daily = MergeDepartment_df.groupby(['location_name','department','Scheme', 'type', MergeDepartment_df ['bill_date'].dt.date]).agg({
    'Footfall': 'sum',
    'Revenue': 'sum',
    'TicketSize': 'mean'  # Calculate daily average for TicketSize
}).reset_index()

# Rename the columns if needed
Alldepartment_daily.columns = ['location_name','department','Scheme', 'type','bill_date','Footfall', 'Revenue', 'TicketSize']
# Display the resulting DataFrame
print(Alldepartment_daily )

                             location_name          department Scheme  \
0                       BLISS MC EASTLEIGH   Dental Procedures   CASH
1                       BLISS MC EASTLEIGH   Dental Procedures   CASH
2                       BLISS MC EASTLEIGH   Dental Procedures   CASH
3                       BLISS MC EASTLEIGH   Dental Procedures   CASH
4                       BLISS MC EASTLEIGH   Dental Procedures    NPS
...                                    ...                 ...    ...
110169  Medicross Medical Centre Westlands  Radiology Services    TSC
110170  Medicross Medical Centre Westlands  Radiology Services    TSC
110171  Medicross Medical Centre Westlands  Radiology Services    TSC
110172  Medicross Medical Centre Westlands  Radiology Services    TSC
110173  Medicross Medical Centre Westlands  Radiology Services    TSC

             type   bill_date  Footfall  Revenue  TicketSize
0          DENTAL  2024-03-22       1.0   500.00     500.000
1          DENTAL  2024-03-30       2.0  3500.00    1750.000
2          DENTAL  2024-04-06       1.0  3000.00    3000.000
3          DENTAL  2024-04-12       1.0  1000.00    1000.000
4          DENTAL  2024-03-27       2.0  2640.90     660.225
...           ...         ...       ...      ...         ...
110169  Radiology  2024-04-17       1.0  1321.24    1321.240
110170  Radiology  2024-04-23       1.0  1321.24    1321.240
110171  Radiology  2024-04-27       3.0  3963.72    1321.240
110172  Radiology  2024-04-29       1.0  1321.24    1321.240
110173  Radiology  2024-04-30       2.0  2642.48    1321.240

[110174 rows x 8 columns]

In [86]:
#ALLDEPARTMENTS  TABLE

# Convert 'bill_date' to datetime type
Mergeschemes_df ['bill_date'] = pd.to_datetime(Mergeschemes_df['bill_date'])

# Group by 'Invoive_No', 'location_name', and daily date
Allschemes_daily = Mergeschemes_df.groupby(['location_name','Scheme', Mergeschemes_df ['bill_date'].dt.date]).agg({
    'Footfall': 'sum',
    'Revenue': 'sum',
    'TicketSize': 'mean'  # Calculate daily average for TicketSize
}).reset_index()

# Rename the columns if neededa
Allschemes_daily.columns = ['location_name','Scheme','bill_date','Footfall', 'Revenue', 'TicketSize']

# Display the resulting DataFrame
#print(Allschemes_daily )

In [87]:

import pandas as pd
from typing import Union
import calendar
from datetime import datetime

#LOAD BUDGET TABLES

def load_Budget(file_path):
    # Read the data from CSV file with appropriate encoding and column data types
    df = pd.read_csv(file_path, encoding='utf-8', thousands=',', dtype={
        'Month': str,
        'Value': float,
        'Report': str,
        'Region': str,
        'Location_Name': str,
        'Sceme': str
    })

    df['Month'] = pd.to_datetime(df['Month'])


    return df

# Load Budget data using the cached function
Allbudget_df = load_Budget('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/Budget_Final_2023.csv')

# Filter Allbudget_df for Revenue
revenue_budget_df = Allbudget_df[Allbudget_df['Report'] == 'Revenue']
# Group by 'Month' and 'Scheme' and calculate sum of 'Value' for each group
ReveneuBudgetsummary_df = revenue_budget_df.groupby(['Month', 'Sceme','Location_Name','Region'], as_index=False,observed=False)['Value'].sum()

# Filter Allbudget_df for Footfall
footfall_budget_df = Allbudget_df[Allbudget_df['Report'] == 'Footfalls']
# Group by 'Month' and 'Scheme' and calculate sum of 'Value' for each group
FootfallBudgetsummary_df = footfall_budget_df.groupby(['Month', 'Sceme','Location_Name','Region'], as_index=False,observed=False)['Value'].sum()

# Rename the 'Sceme' column to 'Scheme' in both dataframes
ReveneuBudgetsummary_df = ReveneuBudgetsummary_df.rename(columns={'Sceme': 'Scheme','Location_Name':'location_name' })
FootfallBudgetsummary_df = FootfallBudgetsummary_df.rename(columns={'Sceme': 'Scheme','Location_Name':'location_name'})


# Merge monthly_scheme_summary_df with FootfallBudgetsummary_df and ReveneuBudgetsummary_df
Budgetmerged_df = pd.merge(ReveneuBudgetsummary_df, FootfallBudgetsummary_df, how='left', on=['Month', 'Scheme','location_name','Region'])


# Rename the columns in the merged DataFrame
Budgetmerged_df = Budgetmerged_df.rename(columns={
    'Value_x': 'Budget_Revenue',
    'Value_y': 'Budget_Footfalls'
})

# Convert 'Month' to datetime
Budgetmerged_df['bill_date'] = pd.to_datetime(Budgetmerged_df['Month'], format='%B', yearfirst=True)

# Create 'bill_date' column with all dates for each day in the month
Budgetmerged_df['bill_date'] = Budgetmerged_df.apply(lambda row: pd.date_range(row['bill_date'], row['bill_date'] + pd.offsets.MonthEnd(0), freq='D'), axis=1)

# Explode the 'bill_date' column to separate rows for each date
Budgetmerged_df = Budgetmerged_df.explode('bill_date')

Budgetmerged_df['Month'] = pd.to_datetime(Budgetmerged_df['Month'])
Budgetmerged_df['Month'] =Budgetmerged_df['Month'].dt.month.apply(lambda x: calendar.month_name[x])

# Calculate the number of days in each month and divide 'Budget Revenue' by that number
Budgetmerged_df['days_in_month'] = Budgetmerged_df['bill_date'].dt.daysinmonth

#Calculate the Revenue per day
Budgetmerged_df['Budget_Revenue'] = Budgetmerged_df['Budget_Revenue']/Budgetmerged_df['days_in_month']

#Calculate the fooftafalls per day
Budgetmerged_df['Budget_Footfalls'] = Budgetmerged_df['Budget_Footfalls']/ Budgetmerged_df['days_in_month']

# Drop the 'days_in_month' column if you don't need it anymore
Budgetmerged_df = Budgetmerged_df.drop(columns=['days_in_month'])

# Calculate total budget footfalls and total budget revenue
total_budget_footfalls = Budgetmerged_df['Budget_Footfalls'].sum()
total_budget_revenue = Budgetmerged_df['Budget_Revenue'].sum()

print(f'Total Budget Footfalls: {total_budget_footfalls}')
print(f'Total Budget Revenue: {total_budget_revenue}')

# Convert 'bill_date' column in Budgetmerged_df to datetime
Allschemes_daily['bill_date'] = pd.to_datetime(Allschemes_daily['bill_date'])

# Merge Allschemes_daily with Budgetmerged_df
Allmerged_df = pd.merge(Budgetmerged_df,Allschemes_daily, how='left', on=['bill_date', 'Scheme', 'location_name'])

# Convert 'bill_date' column in Allmerged_df to datetime
Allmerged_df['Year'] = pd.to_datetime(Allmerged_df['bill_date']).dt.year

# Export to CSV
Allmerged_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/Allmerged.csv', index=False)

Alldepartment_daily.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/Alldepartment.csv', index=False)

Allmerged_df = Allmerged_df.round(0)

Total Budget Footfalls: 1873494.532779717
Total Budget Revenue: 2957028822.390697

In [88]:
import pandas as pd

import calendar

# Import the data
Allmereged_sales = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/Allmerged.csv',
        encoding='utf-8',
        thousands=',',
        dtype={
        'Month': str,
        'Region': str,
        'Footfall': float,
        'Revenue': float,
        'TicketSize': float,  # Added comma here
        'Year': str,
         'bill_date	' : str,
         'location_name': str,
          'Budget_Footfalls': float,	
        'Budget_Revenue': float,
        'Scheme': str}  
                )

In [89]:
Allmereged_sales.head()

,Month,Scheme,location_name,Region,Budget_Revenue,Budget_Footfalls,bill_date,Footfall,Revenue,TicketSize,Year
0,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988.292464,1.598899,2024-01-01,1.0,150.0,150.000000,2024
1,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988.292464,1.598899,2024-01-02,1.0,1000.0,1000.000000,2024
2,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988.292464,1.598899,2024-01-03,1.0,500.0,500.000000,2024
3,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988.292464,1.598899,2024-01-04,3.0,3050.0,1016.666667,2024
4,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988.292464,1.598899,2024-01-05,NaN,NaN,NaN,2024

In [102]:
# Convert float columns to integers
# Convert 'bill_date' column to date format
Allmereged_sales['bill_date'] = pd.to_datetime(Allmereged_sales['bill_date'])
Allmereged_sales['Month'] = Allmereged_sales['Month'].astype(str)
Allmereged_sales['location_name'] = Allmereged_sales['location_name'].astype(str)
Allmereged_sales['Scheme'] = Allmereged_sales['Scheme'].astype(str)
Allmereged_sales['Budget_Revenue'] = Allmereged_sales['Budget_Revenue'].fillna(0).astype(int)
Allmereged_sales['Budget_Footfalls'] = Allmereged_sales['Budget_Footfalls'].astype(float)
Allmereged_sales['Footfall'] = Allmereged_sales['Footfall'].fillna(0).astype(int)
Allmereged_sales['Revenue'] = Allmereged_sales['Revenue'].fillna(0).astype(int)
Allmereged_sales['TicketSize'] = Allmereged_sales['TicketSize'].fillna(0).astype(int)
Allmereged_sales['Year'] = Allmereged_sales['Year'].fillna(0).astype(int)
# Check for float values that are out of range for integer conversion


# Export to CSV
Allmereged_sales.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/FinalAllmerged.csv', index=False)

In [91]:
Allmereged_sales.head()

,Month,Scheme,location_name,Region,Budget_Revenue,Budget_Footfalls,bill_date,Footfall,Revenue,TicketSize,Year
0,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988,1.598899,2024-01-01,1,150,150,2024
1,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988,1.598899,2024-01-02,1,1000,1000,2024
2,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988,1.598899,2024-01-03,1,500,500,2024
3,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988,1.598899,2024-01-04,3,3050,1016,2024
4,January,CASH,Bliss Medical Centre Al Imran,NYANZA,1988,1.598899,2024-01-05,0,0,0,2024

In [92]:
# Define the function to calculate the fraction of days passed in a month
def fraction_of_days_in_month(date):
    # Calculate the total number of days in the month
    total_days_in_month = (date.replace(day=1) + timedelta(days=32)).replace(day=1) - timedelta(days=1)

    # Calculate the fraction of days passed
    fraction_passed = (date.day - 1) / total_days_in_month.day

    return fraction_passed

In [103]:
fraction_passed=fraction_of_days_in_month(max_date)

In [94]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Define the function to calculate the fraction of days passed in a month
def fraction_of_days_in_month(date):
    # Calculate the total number of days in the month
    total_days_in_month = (date.replace(day=1) + timedelta(days=32)).replace(day=1) - timedelta(days=1)
    
    # Calculate the fraction of days passed
    fraction_passed = (date.day) / total_days_in_month.day
    
    return fraction_passed

# Import the data
FinalMerged_df = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/FinalAllmerged.csv',
                encoding='utf-8',
                thousands=',',
                dtype={
                    'Month': str,
                    'Region': str,
                    'Footfall': float,
                    'Revenue': float,
                    'TicketSize': float,  # Added comma here
                    'type': str,
                    'account_name': str,
                    'patient_code': str,
                    'Invoice_No': str,
                    'bill_date': str,
                    'location_name': str,
                    'department': str,
                    'item_name': str,
                    'Scheme': str
                })

# Cast 'Footfall', 'Revenue', and 'TicketSize' to float
FinalMerged_df['Footfall'] = FinalMerged_df['Footfall'].astype(float)
FinalMerged_df['Revenue'] = FinalMerged_df['Revenue'].astype(float)
FinalMerged_df['TicketSize'] = FinalMerged_df['TicketSize'].astype(float)

# Convert 'bill_date' to date
FinalMerged_df['bill_date'] = pd.to_datetime(FinalMerged_df['bill_date'], errors='coerce')

current_month = datetime.now().strftime('%B')

# Filter the DataFrame based on the maximum date and current month
#filtered_df = FinalMerged_df[(FinalMerged_df['Month'] == current_month)]

# Calculate MTD revenue and footfalls for the selected date range
MTD_summary_df = FinalMerged_df.groupby(['location_name','Region', 'Scheme','Month']).agg(
    MTD_Actual_Footfall=('Footfall', 'sum'),
    MTD_Budget_Footfall=('Budget_Footfalls', 'sum'),
    MTD_Actual_Revenue=('Revenue', 'sum'),
    MTD_Budget_Revenue=('Budget_Revenue', 'sum')
).reset_index()

# Replace NaN and inf values with 0
MTD_summary_df.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

# Assuming <NA> represents missing values, replace them with blanks
MTD_summary_df.replace('<NA>', '', inplace=True)

MTD_summary_df = MTD_summary_df[MTD_summary_df['Scheme'] != 'HEALTHIER KENYA']
MTD_summary_df = MTD_summary_df[MTD_summary_df['Scheme'] != 'NHIF CAPITATION']

# Round and convert numeric columns to integers
numeric_columns = ['MTD_Actual_Footfall', 'MTD_Budget_Footfall', 'MTD_Actual_Revenue', 'MTD_Budget_Revenue']
MTD_summary_df[numeric_columns] = MTD_summary_df[numeric_columns]


# Calculate the previous day
previous_day = datetime.now() - timedelta(days=1)

# Calculate fraction of days passed for the selected month
fraction_passed = fraction_of_days_in_month(max_date)


MTD_summary_df['Region']=MTD_summary_df['Region']
MTD_summary_df['MTD_Budget_Revenue']=MTD_summary_df['MTD_Budget_Revenue']
MTD_summary_df['MTD_Budget_Footfall']=MTD_summary_df['MTD_Budget_Footfall']

# Add a new column 'Projected Revenue' to MTD_summary_df
MTD_summary_df['Projected_Revenue'] = (MTD_summary_df['MTD_Budget_Revenue'] ) * (MTD_summary_df['MTD_Actual_Revenue'] / MTD_summary_df['MTD_Budget_Revenue'])

MTD_summary_df['Total_Revenue_Budget'] = (MTD_summary_df['MTD_Budget_Revenue'])

# Add a new column 'Projected Revenue' to MTD_summary_df
MTD_summary_df['Projected_Footfalls'] = (MTD_summary_df['MTD_Budget_Footfall'] ) * (MTD_summary_df['MTD_Actual_Footfall'] / MTD_summary_df['MTD_Budget_Footfall'])

# Add a new column 'Projected Revenue' to MTD_summary_df
MTD_summary_df['Total_Footfall_Budget'] = (MTD_summary_df['MTD_Budget_Footfall'] )


# Add a new column %Arch_FF as the percentage of MTD_Actual_Footfall to MTD_Budget_Footfall
MTD_summary_df['%Arch_FF'] = (MTD_summary_df['MTD_Actual_Footfall'] / MTD_summary_df['MTD_Budget_Footfall'])

# Add a new column %Arch_REV as the percentage of MTD_Actual_Revenue to MTD_Budget_Revenue
MTD_summary_df['%Arch_REV'] = (MTD_summary_df['MTD_Actual_Revenue'] / MTD_summary_df['MTD_Budget_Revenue'])


# Convert float columns to integers
MTD_summary_df['Month'] = MTD_summary_df['Month'].astype(str)
MTD_summary_df['Region'] = MTD_summary_df['Region'].astype(str)
MTD_summary_df['location_name'] = MTD_summary_df['location_name'].astype(str)
MTD_summary_df['Scheme'] = MTD_summary_df['Scheme'].astype(str)
MTD_summary_df['Total_Revenue_Budget'] = MTD_summary_df['Total_Revenue_Budget'].fillna(0).astype(int)
MTD_summary_df['MTD_Budget_Revenue'] = MTD_summary_df['MTD_Budget_Revenue'].fillna(0).astype(int)
MTD_summary_df['%Arch_REV'] =  (MTD_summary_df['%Arch_REV'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
MTD_summary_df['Projected_Revenue'] = MTD_summary_df['Projected_Revenue'].fillna(0).astype(int)
MTD_summary_df['Total_Footfall_Budget'] = MTD_summary_df['Total_Footfall_Budget'].fillna(0)
MTD_summary_df['MTD_Actual_Footfall'] = MTD_summary_df['MTD_Actual_Footfall'].fillna(0).round(1)
MTD_summary_df['MTD_Budget_Footfall'] = MTD_summary_df['MTD_Budget_Footfall']
MTD_summary_df['%Arch_FF'] =  (MTD_summary_df['%Arch_FF'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
MTD_summary_df['Projected_Footfalls'] = MTD_summary_df['Projected_Footfalls'].fillna(0).astype(int)



# Export to CSV
MTD_summary_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/MTD_centres.csv', index=False)

In [95]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 
import io

# Import the data
MTD_Revenue = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/MTD_centres.csv',
                             encoding='utf-8',
                             thousands=',',
                             dtype={
                                 'location_name': str,
                                 'Month': str,
                                 'Scheme': str,
                                 'MTD_Actual_Footfall': float,
                                 'MTD_Budget_Footfall': float,  # Added comma here
                                 '%Arch_FF': float,
                                 'Total_Footfall_Budget': float,
                                 'Projected_Footfalls': float
                             })

# Cast 'Footfall', 'Revenue', and 'TicketSize' to float

MTD_Revenue['MTD_Actual_Revenue'] = MTD_Revenue['MTD_Actual_Revenue'].astype(float)
MTD_Revenue['MTD_Budget_Revenue'] = MTD_Revenue['MTD_Budget_Revenue'].astype(float)
MTD_Revenue['%Arch_REV'] =  MTD_Revenue['%Arch_REV'].astype(float)
MTD_Revenue['Total_Revenue_Budget'] = MTD_Revenue['Total_Revenue_Budget'].astype(float)
MTD_Revenue['Projected_Revenue'] = MTD_Revenue['Projected_Revenue'].astype(float)
MTD_Revenue['MTD_Actual_Footfall'] = MTD_Revenue['MTD_Actual_Footfall'].fillna(0).astype(int)
MTD_Revenue['MTD_Budget_Footfall'] = MTD_Revenue['MTD_Budget_Footfall'].fillna(0).astype(int).round(0)
MTD_Revenue['%Arch_FF'] =  MTD_Revenue['%Arch_FF'].astype(float)
MTD_Revenue['Projected_Footfalls'] = MTD_Revenue['Projected_Footfalls'].fillna(0).astype(int)
MTD_Revenue['Total_Footfall_Budget'] = MTD_Revenue['Total_Footfall_Budget'].fillna(0).astype(int)


# Create a SQLAlchemy engine
engine = create_engine(
    'postgresql+psycopg2://postgres.effdqrpabawzgqvugxup:OWyJ8HF6AjXiK6SH@aws-0-eu-central-1.pooler.supabase.com:5432/postgres')

# Drop old table and create new empty table
MTD_Revenue.head(0).to_sql('MTD_Revenue', engine, if_exists='replace', index=False)

# Insert data into the database
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
MTD_Revenue.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'MTD_Revenue', null="")
conn.commit()
cur.close()
conn.close()

In [96]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Define the function to calculate the fraction of days passed in a month
def fraction_of_days_in_month(date):
    # Calculate the total number of days in the month
    total_days_in_month = (date.replace(day=1) + timedelta(days=32)).replace(day=1) - timedelta(days=1)
    
    # Calculate the fraction of days passed
    fraction_passed = (date.day) / total_days_in_month.day
    
    return fraction_passed

# Import the data
FinalMerged_df = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/FinalAllmerged.csv',
                encoding='utf-8',
                thousands=',',
                dtype={
                    'Month': str,
                    'Region': str,
                    'Footfall': float,
                    'Revenue': float,
                    'TicketSize': float,  # Added comma here
                    'type': str,
                    'account_name': str,
                    'patient_code': str,
                    'Invoice_No': str,
                    'bill_date': str,
                    'location_name': str,
                    'department': str,
                    'item_name': str,
                    'Scheme': str
                })

# Cast 'Footfall', 'Revenue', and 'TicketSize' to float
FinalMerged_df['Footfall'] = FinalMerged_df['Footfall'].astype(float)
FinalMerged_df['Revenue'] = FinalMerged_df['Revenue'].astype(float)
FinalMerged_df['TicketSize'] = FinalMerged_df['TicketSize'].astype(float)

# Convert 'bill_date' to date
FinalMerged_df['bill_date'] = pd.to_datetime(FinalMerged_df['bill_date'], errors='coerce')

current_month = datetime.now().strftime('%B')

# Filter the DataFrame based on the maximum date and current month
#filtered_df = FinalMerged_df[(FinalMerged_df['Month'] == current_month)]


# Calculate MTD revenue and footfalls for the selected date range
MTD_Region_df = FinalMerged_df.groupby(['Region', 'Scheme','Month']).agg(
    MTD_Actual_Footfall=('Footfall', 'sum'),
    MTD_Budget_Footfall=('Budget_Footfalls', 'sum'),
    MTD_Actual_Revenue=('Revenue', 'sum'),
    MTD_Budget_Revenue=('Budget_Revenue', 'sum')
).reset_index()

# Replace NaN and inf values with 0
MTD_Region_df.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

# Assuming <NA> represents missing values, replace them with blanks
MTD_Region_df.replace('<NA>', '', inplace=True)

MTD_Region_df = MTD_Region_df[MTD_Region_df['Scheme'] != 'HEALTHIER KENYA']
MTD_Region_df = MTD_Region_df[MTD_Region_df['Scheme'] != 'NHIF CAPITATION']

# Round and convert numeric columns to integers
numeric_columns = ['MTD_Actual_Footfall', 'MTD_Budget_Footfall', 'MTD_Actual_Revenue', 'MTD_Budget_Revenue']
MTD_Region_df[numeric_columns] = MTD_Region_df[numeric_columns].round(0).astype(int)


# Calculate the previous day
previous_day = datetime.now() - timedelta(days=1)

# Calculate fraction of days passed for the selected month
fraction_passed = fraction_of_days_in_month(max_date)


MTD_Region_df['Region']=MTD_Region_df['Region']
MTD_Region_df['MTD_Budget_Revenue']=MTD_Region_df['MTD_Budget_Revenue']
MTD_Region_df['MTD_Budget_Footfall']=MTD_Region_df['MTD_Budget_Footfall']

# Add a new column 'Projected Revenue' to MTD_Region_df
MTD_Region_df['Projected_Revenue'] = (MTD_Region_df['MTD_Budget_Revenue'] ) * (MTD_Region_df['MTD_Actual_Revenue'] / MTD_Region_df['MTD_Budget_Revenue'])

MTD_Region_df['Total_Revenue_Budget'] = (MTD_Region_df['MTD_Budget_Revenue'])

# Add a new column 'Projected Revenue' to MTD_Region_df
MTD_Region_df['Projected_Footfalls'] = (MTD_Region_df['MTD_Budget_Footfall'] ) * (MTD_Region_df['MTD_Actual_Footfall'] / MTD_Region_df['MTD_Budget_Footfall'])

# Add a new column 'Projected Revenue' to MTD_Region_df
MTD_Region_df['Total_Footfall_Budget'] = (MTD_Region_df['MTD_Budget_Footfall'] )


# Add a new column %Arch_FF as the percentage of MTD_Actual_Footfall to MTD_Budget_Footfall
MTD_Region_df['%Arch_FF'] = (MTD_Region_df['MTD_Actual_Footfall'] / MTD_Region_df['MTD_Budget_Footfall'])

# Add a new column %Arch_REV as the percentage of MTD_Actual_Revenue to MTD_Budget_Revenue
MTD_Region_df['%Arch_REV'] = (MTD_Region_df['MTD_Actual_Revenue'] / MTD_Region_df['MTD_Budget_Revenue'])


# Convert float columns to integers
MTD_Region_df['Month'] = MTD_Region_df['Month'].astype(str)
MTD_Region_df['Region'] = MTD_Region_df['Region'].astype(str)
MTD_Region_df['Scheme'] = MTD_Region_df['Scheme'].astype(str)
MTD_Region_df['Total_Revenue_Budget'] = MTD_Region_df['Total_Revenue_Budget'].fillna(0).astype(int)
MTD_Region_df['MTD_Budget_Revenue'] = MTD_Region_df['MTD_Budget_Revenue'].fillna(0).astype(int)
MTD_Region_df['%Arch_REV'] =  (MTD_Region_df['%Arch_REV'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
MTD_Region_df['Projected_Revenue'] = MTD_Region_df['Projected_Revenue'].fillna(0).astype(int)
MTD_Region_df['Total_Footfall_Budget'] = MTD_Region_df['Total_Footfall_Budget'].fillna(0).round(1)
MTD_Region_df['MTD_Actual_Footfall'] = MTD_Region_df['MTD_Actual_Footfall'].fillna(0).round(1)
MTD_Region_df['MTD_Budget_Footfall'] = MTD_Region_df['MTD_Budget_Footfall'].fillna(0).round(1)
MTD_Region_df['%Arch_FF'] =  (MTD_Region_df['%Arch_FF'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
MTD_Region_df['Projected_Footfalls'] = MTD_Region_df['Projected_Footfalls'].fillna(0).astype(int)


out_of_range_values = MTD_Region_df.select_dtypes(include=['float']).apply(lambda x: x[(x % 1 != 0) & (x != 0)])

# Export to CSV
MTD_Region_df.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/MTD_Region.csv', index=False)

In [97]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 
import io

# Import the data
MTD_Overall_df = pd.read_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/MTD_Overall.csv',
                             encoding='utf-8',
                             thousands=',',
                             dtype={
                                 'location_name': str,
                                 'Month': str,
                                 'Scheme': str,
                                 'MTD_Actual_Footfall': float,
                                 'MTD_Budget_Footfall': float,  # Added comma here
                                 '%Arch_FF': float,
                                 'Total_Footfall_Budget': float,
                                 'Projected_Footfalls': float
                             })

MTD_Overall_df['MTD_Actual_Revenue'] = MTD_Overall_df['MTD_Actual_Revenue'].astype(float)
MTD_Overall_df['MTD_Budget_Revenue'] = MTD_Overall_df['MTD_Budget_Revenue'].astype(float)
MTD_Overall_df['%Arch_REV'] =  MTD_Overall_df['%Arch_REV'].astype(float)
MTD_Overall_df['Total_Revenue_Budget'] = MTD_Overall_df['Total_Revenue_Budget'].astype(float)
MTD_Overall_df['Projected_Revenue'] = MTD_Overall_df['Projected_Revenue'].astype(float)
MTD_Overall_df['MTD_Actual_Footfall'] = MTD_Overall_df['MTD_Actual_Footfall'].fillna(0).astype(int)
MTD_Overall_df['MTD_Budget_Footfall'] = MTD_Overall_df['MTD_Budget_Footfall'].fillna(0).astype(int)
MTD_Overall_df['%Arch_FF'] =  (MTD_Overall_df['%Arch_FF'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
MTD_Overall_df['Projected_Footfalls'] = MTD_Overall_df['Projected_Footfalls'].fillna(0).astype(int)
MTD_Overall_df['Total_Footfall_Budget'] = MTD_Overall_df['Total_Footfall_Budget'].fillna(0).astype(int)

# Create a SQLAlchemy engine
engine = create_engine(
    'postgresql+psycopg2://postgres.effdqrpabawzgqvugxup:OWyJ8HF6AjXiK6SH@aws-0-eu-central-1.pooler.supabase.com:5432/postgres')

# Drop old table and create new empty table
MTD_Overall_df.head(0).to_sql('MTD_Overall', engine, if_exists='replace', index=False)

# Insert data into the database
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
MTD_Overall_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'MTD_Overall', null="")
conn.commit()
cur.close()
conn.close()

In [98]:
# Calculate MTD revenue and footfalls for the selected date range
Region_Overalldf = FinalMerged_df.groupby(['Region', 'Month']).agg(
    MTD_Actual_Footfall=('Footfall', 'sum'),
    MTD_Budget_Footfall=('Budget_Footfalls', 'sum'),
    MTD_Actual_Revenue=('Revenue', 'sum'),
    MTD_Budget_Revenue=('Budget_Revenue', 'sum')
).reset_index()

# Replace NaN and inf values with 0
Region_Overalldf.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

# Assuming <NA> represents missing values, replace them with blanks
Region_Overalldf.replace('<NA>', '', inplace=True)


# Round and convert numeric columns to integers
numeric_columns = ['MTD_Actual_Footfall', 'MTD_Budget_Footfall', 'MTD_Actual_Revenue', 'MTD_Budget_Revenue']
Region_Overalldf[numeric_columns] = Region_Overalldf[numeric_columns].round(0).astype(int)

# Calculate the previous day
previous_day = datetime.now() - timedelta(days=1)

# Calculate fraction of days passed for the selected month
fraction_passed = fraction_of_days_in_month(max_date)

Region_Overalldf['MTD_Budget_Revenue'] = Region_Overalldf['MTD_Budget_Revenue']
Region_Overalldf['MTD_Budget_Footfall'] = Region_Overalldf['MTD_Budget_Footfall']

# Add a new column 'Projected Revenue' to Region_Overalldf
Region_Overalldf['Projected_Revenue'] = (Region_Overalldf['MTD_Budget_Revenue']) * (Region_Overalldf['MTD_Actual_Revenue'] / Region_Overalldf['MTD_Budget_Revenue'])

Region_Overalldf['Total_Revenue_Budget'] = (Region_Overalldf['MTD_Budget_Revenue'])

# Add a new column 'Projected Revenue' to Region_Overalldf
Region_Overalldf['Projected_Footfalls'] = (Region_Overalldf['MTD_Budget_Footfall']) * (Region_Overalldf['MTD_Actual_Footfall'] / Region_Overalldf['MTD_Budget_Footfall'])

# Add a new column 'Projected Revenue' to Region_Overalldf
Region_Overalldf['Total_Footfall_Budget'] = (Region_Overalldf['MTD_Budget_Footfall'])

# Add a new column %Arch_FF as the percentage of MTD_Actual_Footfall to MTD_Budget_Footfall
Region_Overalldf['%Arch_FF'] = (Region_Overalldf['MTD_Actual_Footfall'] / Region_Overalldf['MTD_Budget_Footfall'])

# Add a new column %Arch_REV as the percentage of MTD_Actual_Revenue to MTD_Budget_Revenue
Region_Overalldf['%Arch_REV'] = (Region_Overalldf['MTD_Actual_Revenue'] / Region_Overalldf['MTD_Budget_Revenue'])

# Convert float columns to integers
Region_Overalldf['Month'] = Region_Overalldf['Month'].astype(str)
Region_Overalldf['Total_Revenue_Budget'] = Region_Overalldf['Total_Revenue_Budget'].fillna(0).astype(int)
Region_Overalldf['MTD_Budget_Revenue'] = Region_Overalldf['MTD_Budget_Revenue'].fillna(0).astype(int)
Region_Overalldf['%Arch_REV'] = (Region_Overalldf['%Arch_REV'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
Region_Overalldf['Projected_Revenue'] = Region_Overalldf['Projected_Revenue'].fillna(0).astype(int)
Region_Overalldf['Total_Footfall_Budget'] = Region_Overalldf['Total_Footfall_Budget'].fillna(0).round(1)
Region_Overalldf['MTD_Actual_Footfall'] = Region_Overalldf['MTD_Actual_Footfall'].fillna(0).round(1)
Region_Overalldf['MTD_Budget_Footfall'] = Region_Overalldf['MTD_Budget_Footfall'].fillna(0).round(1)
Region_Overalldf['%Arch_FF'] = (Region_Overalldf['%Arch_FF'].replace([np.inf, -np.inf], np.nan).fillna(0) * 100).round(1)
Region_Overalldf['Projected_Footfalls'] = Region_Overalldf['Projected_Footfalls'].fillna(0).astype(int)


# Export to CSV
Region_Overalldf.to_csv('c:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Streamlit/MTD_RegionALL.csv', index=False)

In [99]:
# Create a DataFrame for total sums
#totals_df = pd.DataFrame({
    #'Total Footfall': [Allmerged_df['Footfall'].sum()],
    #'Total Revenue': [Allmerged_df['Revenue'].sum()],
    #'Total Budget Revenue': [Allmerged_df['Budget Revenue'].sum()],
    #'Total Budget Footfalls': [Allmerged_df['Budget Footfalls'].sum()]
#})

#print(totals_df)

In [100]:
# Assuming Allschemes_df is your DataFrame
#problematic_row = df_AllsalesFinal.iloc[617684:617686, :]  # Selecting rows around the problematic index

#print("Problematic Row:")
#print(problematic_row)

In [101]:
# Assuming Allschemes_df is your DataFrame
#problematic_row = df_AllsalesFinal.iloc[617684:617686, :]  # Selecting rows around the problematic index

#print("Problematic Row:")
#print(problematic_row)