In [2]:
#import the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import the data

import pandas as pd 

df_jan = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_Jan.xlsx')
df_feb = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_Feb.xlsx')
df_march = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_March.xlsx')
df_april = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_April.xlsx')
df_may = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_May.xlsx')
df_june = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_June.xlsx')
df_august = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_August.xlsx')
df_september = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_Sep.xlsx')
df_july = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_July.xlsx')
df_Alldrugs = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\All_drugs.xlsx')
df_october = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\sales_Oct.xlsx')

In [4]:
#import the stock movement data

df_Cdmpurchase = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\Cdm_Purchase .xlsx')
df_Cdmtransfer = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\Cdm_Transfers.xlsx')
df_CdmOrder = pd.read_excel('D:\DATASCIENCE PROJECTS\CDM\Cdm_order.xlsx')

In [6]:
# Concatenate the DataFrames into a single DataFrame
Allsales_df = pd.concat([df_jan, df_feb, df_march, df_april, df_may,df_june,df_july,df_august, df_september,df_october], ignore_index=True)

In [7]:
#Show all coloumns of the  table

print(len(Allsales_df))
print(len(df_Alldrugs))

2071927
931

In [8]:
#Vlookup Chronic drug in sales dump(filter chronic drugs)

Cdmlookup_df = Allsales_df.merge(df_Alldrugs, on='Item Name')
Cdmlookup_df.head()



chronic_df = Cdmlookup_df[Cdmlookup_df['Type'] == 'Chronic']

chronic_df.head()

,Company Name,Uhid,Invoive No,Date,Patient Name,Facility,Gross,Discount Amount,Amount Collected,Amount Receivable,Rate,Qty,Amount,Actual Receivable,Department,Item Name,payment mode,Referal Doctor,Referal_Doctor,Type
0,Cash,NaN,NaN,2023-01-01,MONICAH KIMONDO,Bliss Medical Centre Nyeri 1 Jenkim Plaza,150.0,0.0,150.0,0.0,15.0,10,150.0,150.0,Pharmacy,Losatan-H 50/12.5 Mg Tablets,MPesa,Adam,NaN,Chronic
1,Cash,NaN,NaN,2023-01-03,PIUS MULE,Bliss Medical Centre Kitui,450.0,0.0,450.0,0.0,15.0,30,450.0,450.0,Pharmacy,Losatan-H 50/12.5 Mg Tablets,MPesa,Peter Mutulu,NaN,Chronic
2,Cash,NaN,NaN,2023-01-04,ephantus mugo,Bliss Medical Centre Mtwapa,450.0,0.0,450.0,0.0,30.0,30,450.0,450.0,Pharmacy,Losatan-H 50/12.5 Mg Tablets,MPesa,SELF REQUEST,NaN,Chronic
3,Cash,NaN,NaN,2023-01-04,Margaret chemarum,Bliss Medical Centre Kitale,225.0,0.0,225.0,0.0,15.0,15,225.0,225.0,Pharmacy,Losatan-H 50/12.5 Mg Tablets,MPesa,VALLARY KHASIALA,NaN,Chronic
4,Cash,NaN,NaN,2023-01-09,ESTHER MAKEO,Bliss Medical Centre Pipeline,150.0,0.0,150.0,0.0,15.0,10,150.0,150.0,Pharmacy,Losatan-H 50/12.5 Mg Tablets,MPesa,STEPHEN ABAJA,NaN,Chronic

In [9]:
print(len(chronic_df))

389487

In [10]:
#create a "month "column i the CDM SALES TABLE
import calendar

chronic_df['Date'] = pd.to_datetime(chronic_df['Date'])
chronic_df['Month'] = chronic_df['Date'].dt.month.apply(lambda x: calendar.month_name[x])

chronic_df['Month'] = pd.Categorical(chronic_df['Month'], categories=calendar.month_name[1:], ordered=True)
chronic_df = chronic_df.sort_values(by='Month')

print(chronic_df)

C:\Users\BUMA\AppData\Local\Temp\ipykernel_8304\2437208330.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chronic_df['Date'] = pd.to_datetime(chronic_df['Date'])
C:\Users\BUMA\AppData\Local\Temp\ipykernel_8304\2437208330.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chronic_df['Month'] = chronic_df['Date'].dt.month.apply(lambda x: calendar.month_name[x])
C:\Users\BUMA\AppData\Local\Temp\ipykernel_8304\2437208330.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chronic_df['Month'] = pd.Categorical(chronic_df['Month'], categories=calendar.month_name[1:], ordered=True)

                                           Company Name        Uhid  \
0                                                  Cash         NaN
91364                 MINET KENYA INSURANCE BROKERS LTD  BM46.11146
91363    National Police Service / Kenya Prison Service  BM45.10957
91362                 MINET KENYA INSURANCE BROKERS LTD  BM26.16622
91361                 MINET KENYA INSURANCE BROKERS LTD  BM53.17376
...                                                 ...         ...
1500834                        CAREPAY M-TIBA INSURANCE  BM42.19904
1500835          BRITAM GENERAL INSURANCE KENYA LIMITED  BM52.10499
1500836               MINET KENYA INSURANCE BROKERS LTD  BM23.17571
196458                MINET KENYA INSURANCE BROKERS LTD  BM18.11396
1810342               MINET KENYA INSURANCE BROKERS LTD   BM51.9811

         Invoive No       Date               Patient Name  \
0               NaN 2023-01-01            MONICAH KIMONDO
91364           NaN 2023-01-26         Mr. LAWRENCE NJAGI
91363     BM63/2204 2023-01-26          Mr. DICKSON ORUKO
91362    BM26/12249 2023-01-30        Mr. GABRIEL OKWEMBA
91361     BM53/9076 2023-01-08       Mrs. ANN NJERI NYAGA
...             ...        ...                        ...
1500834  BM42/21899 2023-10-15           Mr. GIDEON GITAU
1500835  BM52/13033 2023-10-13           Mr. MOSES NAKURO
1500836  BM23/30597 2023-10-26  Mrs. JOYCE KAVETELE MULWA
196458   BM18/21718 2023-10-07  Mr. DANSON  KAIGURIMWANGI
1810342  BM51/10523 2023-10-09          Mr. OSIEMO THOMAS

                                          Facility   Gross  Discount Amount  \
0        Bliss Medical Centre Nyeri 1 Jenkim Plaza   150.0             0.00
91364               Bliss Medical Centre Teleposta  2160.0             0.00
91363        Bliss Medical Centre Haille Selasie 2   504.0             0.00
91362                Bliss Medical Centre Machakos  2160.0           612.34
91361    Bliss Medical Centre Nyeri 1 Jenkim Plaza  2160.0           774.23
...                                            ...     ...              ...
1500834              Bliss Medical Centre Buruburu  1900.0             0.00
1500835              Bliss Medical Centre Ol Kalau  1500.0             0.00
1500836                 Bliss Medical Centre Kitui  1293.0             0.00
196458               Bliss Medical Centre Kerugoya   450.0           203.57
1810342               Bliss Medical Centre Nyamira  4000.0          3065.99

         Amount Collected  Amount Receivable  ...  Qty  Amount  \
0                   150.0               0.00  ...   10   150.0
91364                 0.0            2160.00  ...   30  2160.0
91363                 0.0             504.00  ...    7   504.0
91362                 0.0            1547.66  ...   30  2160.0
91361                 0.0            1385.77  ...   30  2160.0
...                   ...                ...  ...  ...     ...
1500834               0.0            1900.00  ...    1  1900.0
1500835               0.0            1500.00  ...    1  1500.0
1500836               0.0            1293.00  ...    1  1293.0
196458                0.0             246.43  ...   30   450.0
1810342               0.0             934.01  ...    1  4000.0

         Actual Receivable  Department                           Item Name  \
0                    150.0    Pharmacy        Losatan-H 50/12.5 Mg Tablets
91364               2160.0    Pharmacy  Amlozaar H 50Mg/5Mg/12.5Mg Tablets
91363                504.0    Pharmacy  Amlozaar H 50Mg/5Mg/12.5Mg Tablets
91362               2160.0    Pharmacy  Amlozaar H 50Mg/5Mg/12.5Mg Tablets
91361               2160.0    Pharmacy  Amlozaar H 50Mg/5Mg/12.5Mg Tablets
...                    ...         ...                                 ...
1500834             1900.0    Pharmacy          Avamys 27.5Mcg Nasal Spray
1500835             1500.0    Pharmacy          Avamys 27.5Mcg Nasal Spray
1500836             1293.0    Pharmacy          Avamys 27.5Mcg Nasal Spray
196458               450.0    Pharmacy             Cardisprin 75Mg Tablets
1810342             4000.0    Pharmacy                    GANFORT EYE DROP

                       payment mode  Referal Doctor         Referal_Doctor  \
0                             MPesa            Adam                    NaN
91364                        Credit             NaN                    NaN
91363                        Credit  BERINE MURITHI                    NaN
91362                        Credit             NaN                    NaN
91361                        Credit  JUDITH GICHURU                    NaN
...                             ...             ...                    ...
1500834  Avamys 27.5Mcg Nasal Spray          Credit        Kowsar  Mohamed
1500835  Avamys 27.5Mcg Nasal Spray          Credit  JANE WANGARI MBUGUA
1500836  Avamys 27.5Mcg Nasal Spray          Credit          JOSEPH WAMBUA
196458      Cardisprin 75Mg Tablets          Credit       ANTHONY SIMIYU
1810342            GANFORT EYE DROP          Credit          Dennis Okioma

            Type    Month
0        Chronic  January
91364    Chronic  January
91363    Chronic  January
91362    Chronic  January
91361    Chronic  January
...          ...      ...
1500834  Chronic  October
1500835  Chronic  October
1500836  Chronic  October
196458   Chronic  October
1810342  Chronic  October

[389487 rows x 21 columns]

In [11]:
#create a "month "column i the CDM SALES TABLE
import calendar

Cdmlookup_df['Date'] = pd.to_datetime(Cdmlookup_df['Date'])
Cdmlookup_df['Month'] = Cdmlookup_df['Date'].dt.month.apply(lambda x: calendar.month_name[x])

Cdmlookup_df['Month'] = pd.Categorical(Cdmlookup_df['Month'], categories=calendar.month_name[1:], ordered=True)
Cdmlookup_df = Cdmlookup_df.sort_values(by='Month')

print(Cdmlookup_df)

                                  Company Name        Uhid  Invoive No  \
0                                         Cash         NaN         NaN
507970                                    Cash         NaN         NaN
507971                                    Cash         NaN         NaN
507972                                    Cash         NaN         NaN
507973                                    Cash         NaN         NaN
...                                        ...         ...         ...
984426       MINET KENYA INSURANCE BROKERS LTD   BM17.1503  BM17/24638
984425       MINET KENYA INSURANCE BROKERS LTD   BM57.9256  BM57/23057
984424       MINET KENYA INSURANCE BROKERS LTD  BM73.19308  BM73/23049
984390   MINET KENYA INSURANCE BROKERS LIMITED   BM01.9205  BM01/12105
1810343         NATIONAL HEALTH INSURANCE FUND  BM44.10233  BM44/11511

              Date                Patient Name  \
0       2023-01-01             MONICAH KIMONDO
507970  2023-01-11               VICKY KATHURE
507971  2023-01-06             DOROTHY MATINDE
507972  2023-01-15                 WILSON LIMO
507973  2023-01-13               DIANA WANJIRU
...            ...                         ...
984426  2023-10-04    Mr. ANDREW NDURYA MSANZU
984425  2023-10-08   Mr. SAMUEL NEYOLE WANGILA
984424  2023-10-08   PRIMROSE  NJUGUNA WAIRIMU
984390  2023-10-12           Baby ANAYA AYABEI
1810343 2023-10-12     Baby KAELANI NAILANTEI

                                          Facility  Gross  Discount Amount  \
0        Bliss Medical Centre Nyeri 1 Jenkim Plaza  150.0             0.00
507970          Medicross Medical Centre Westlands   75.0             0.00
507971                  Bliss Medical Centre Siaya   75.0             0.00
507972               Bliss Medical Centre Kapsabet   75.0             0.00
507973                 Bliss Medical Centre Kiambu   75.0             0.00
...                                            ...    ...              ...
984426            Medicross Medical Centre Malindi  250.0             0.00
984425                 Bliss Medical Centre Kitale  250.0            68.38
984424                Bliss Medical Centre Muranga  250.0             0.00
984390               Bliss Medical Centre Kabarnet  250.0             0.00
1810343              Bliss Medical Centre Githurai  150.0             0.00

         Amount Collected  Amount Receivable  ...  Qty  Amount  \
0                   150.0               0.00  ...   10   150.0
507970               75.0                NaN  ...   15    75.0
507971               75.0                NaN  ...   15    75.0
507972               75.0                NaN  ...   15    75.0
507973               75.0                NaN  ...   15    75.0
...                   ...                ...  ...  ...     ...
984426                0.0             250.00  ...    1   250.0
984425                0.0             181.62  ...    1   250.0
984424                0.0             250.00  ...    1   250.0
984390                0.0             250.00  ...    1   250.0
1810343               0.0             150.00  ...    1   150.0

         Actual Receivable  Department                     Item Name  \
0                    150.0    Pharmacy  Losatan-H 50/12.5 Mg Tablets
507970                75.0    Pharmacy    Amoxicillin 500Mg Capsules
507971                75.0    Pharmacy    Amoxicillin 500Mg Capsules
507972                75.0    Pharmacy    Amoxicillin 500Mg Capsules
507973                75.0    Pharmacy    Amoxicillin 500Mg Capsules
...                    ...         ...                           ...
984426               250.0    Pharmacy   Ibupar 100Mg/5Ml Syrup 60Ml
984425               250.0    Pharmacy   Ibupar 100Mg/5Ml Syrup 60Ml
984424               250.0    Pharmacy   Ibupar 100Mg/5Ml Syrup 60Ml
984390               250.0    Pharmacy   Ibupar 100Mg/5Ml Syrup 60Ml
1810343              150.0    Pharmacy              Gripe Water 60Ml

                        payment mode    Referal Doctor   Referal_Doctor  \
0                              MPesa              Adam              NaN
507970                         MPesa   Austine   Okoth              NaN
507971                         MPesa       NOEL  DAVID              NaN
507972                         MPesa        ABDUL AZIZ              NaN
507973                          Cash  MILLICENT KAHIRO              NaN
...                              ...               ...              ...
984426   Ibupar 100Mg/5Ml Syrup 60Ml            Credit   STEPHEN  KOMBE
984425   Ibupar 100Mg/5Ml Syrup 60Ml            Credit      CAROL MBONE
984424   Ibupar 100Mg/5Ml Syrup 60Ml            Credit      ALBERT MOSE
984390   Ibupar 100Mg/5Ml Syrup 60Ml            Credit  Vincent Okeno
1810343             Gripe Water 60Ml            Credit     HENRY OTENYO

            Type    Month
0        Chronic  January
507970     Acute  January
507971     Acute  January
507972     Acute  January
507973     Acute  January
...          ...      ...
984426     Acute  October
984425     Acute  October
984424     Acute  October
984390     Acute  October
1810343    Acute  October

[1810344 rows x 21 columns]

In [31]:
#Last month of  CDM sales

# Assuming your DataFrame is named Cdmlookup_df
CDMlast_month = chronic_df['Date'].max().month
if CDMlast_month == 12:
    # If the last month is December, find the previous month
    CDMlast_month = chronic_df['Date'].iloc[-2].month
last_month_nameCDM = calendar.month_name[CDMlast_month]

print(last_month_nameCDM)

October

In [45]:
import pandas as pd

# Assuming 'Month', 'Type', and 'Uhid' are columns in chronic_df
Monthly_Data = chronic_df.groupby(['Month', 'Type'])['Uhid'].nunique().reset_index()
# The code above calculates the number of unique Uhid values for each combination of 'Month' and 'Type'.

# Assuming 'Month' is a column in chronic_df and 'last_month_nameCDM' is a variable containing the last month name.
Monthly_Data = Monthly_Data[Monthly_Data['Month'] <= last_month_nameCDM]
# This filters the Monthly_Data DataFrame to include only rows with 'Month' less than or equal to last_month_nameCDM.

Monthly_Data.columns = ['Month', 'Type', 'No of Patients']
# This renames the columns as you specified.

print(Monthly_Data)

C:\Users\BUMA\AppData\Local\Temp\ipykernel_8304\4110714151.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Monthly_Data = chronic_df.groupby(['Month', 'Type'])['Uhid'].nunique().reset_index()

       Month     Type  No of Patients
0    January  Chronic           15244
1   February  Chronic           15634
2      March  Chronic           17891
3      April  Chronic           16765
4        May  Chronic           18895
5       June  Chronic           19096
6       July  Chronic           19612
7     August  Chronic           21365
8  September  Chronic           18404
9    October  Chronic           19601

In [52]:
#Last month of transfer

# Assuming your DataFrame is named Cdmlookup_df
Cdmslast_month = Cdmlookup_df['Date'].max().month
if Cdmslast_month == 12:
    # If the last month is December, find the previous month
    Cdmslast_month = Cdmlookup_df['Date'].iloc[-2].month
last_month_name = calendar.month_name[Cdmslast_month]

print(last_month_name)

September

In [11]:
#create a "month" column in the PURCHASE TABLE

df_Cdmpurchase['GRN Date'] = pd.to_datetime(df_Cdmpurchase['GRN Date'])
df_Cdmpurchase['Month'] = df_Cdmpurchase['GRN Date'].dt.month.apply(lambda x: calendar.month_name[x])

df_Cdmpurchase['Month'] = pd.Categorical(df_Cdmpurchase['Month'], categories=calendar.month_name[1:], ordered=True)
df_Cdmpurchase = df_Cdmpurchase.sort_values(by='Month')

df_Cdmpurchase.head()

,GRN Date,PO No,PO DateTime,Item Name,Batch No,Expiry Date,Quantity,Purchase Rate,MRP,Margin %,Margin Value,Month
0,2023-01-03 11:14:34,408,2022-12-28,H. Pylori Antigen 25 T,22052403,2024-05-31,4200,112.0,168.0,33.33,56.0,January
1,2023-01-06 08:33:47,411,2023-01-05,ADACEL-POLIO 0.5ML VACCINE,V3F982V,2024-01-31,5,3617.0,5461.0,33.77,1844.0,January
2,2023-01-06 08:33:47,411,2023-01-05,PRIORIX 0.5ML VACCINE,A69CF450A,2024-03-31,10,895.0,1441.0,37.89,546.0,January
3,2023-01-06 08:33:47,411,2023-01-05,TYPHIM VI 0.5ML VACCINE,U2A292V,2023-09-30,10,1576.0,2400.0,31.06,710.0,January
4,2023-01-06 08:33:47,411,2023-01-05,TWINRIX ADULT 1ML VACCINE,AHABB443AO,2024-04-30,8,2165.0,3589.0,39.68,1424.0,January

In [12]:
#create a "month" column in the TRANSFER TABLE

df_Cdmtransfer['Stock Date'] = pd.to_datetime(df_Cdmtransfer['Stock Date'])
df_Cdmtransfer['Month'] = df_Cdmtransfer['Stock Date'].dt.month.apply(lambda x: calendar.month_name[x])

df_Cdmtransfer['Month'] = pd.Categorical(df_Cdmtransfer['Month'], categories=calendar.month_name[1:], ordered=True)
df_Cdmtransfer = df_Cdmtransfer.sort_values(by='Month')
df_Cdmtransfer.head()

,SLNo,Item Name,Stock Date,Transaction Type,Issue Qty,Month
104918,153565,Nylon 2.0 Rc,2023-01-12,NYERI PHARMACY,6,January
102070,149561,Teltas 80Mg Tablets,2023-01-31,EMBAKASI PHARMACY,150,January
102071,149562,Teltas 80Mg Tablets,2023-01-31,AL IMRAN PHARMACY,150,January
102072,149563,Teltas 80Mg Tablets,2023-01-31,ITEN PHARMACY,30,January
35284,50835,Budecort 200Mcg Inhaler 200Doses,2023-01-31,MURANGA PHARMACY,7,January

In [13]:
#create a "month" column in the ORDER TABLE

df_CdmOrder['Pur Req Date'] = pd.to_datetime(df_CdmOrder['Pur Req Date'])
df_CdmOrder['Month'] = df_CdmOrder['Pur Req Date'].dt.month.apply(lambda x: calendar.month_name[x])

df_CdmOrder['Month'] = pd.Categorical(df_CdmOrder['Month'], categories=calendar.month_name[1:], ordered=True)
df_CdmOrder = df_CdmOrder.sort_values(by='Month')

df_CdmOrder.head()

,Sr.No.,Item Code,Item Name,Pur Req No,Pur Req Date,Pur Req Qty,PO Qty,GRN Qty,Month
0,1,PRDIN000290039,Acetone 2.5 L,51,2023-01-05,30,0,0,January
315,316,PRDIN02193,Mofilet S 360Mg Tablets,61,2023-01-08,3960,3960,3000,January
314,315,PRDIN02192,Mofilet 500Mg Tablets,61,2023-01-08,7200,7200,6000,January
313,314,PRDIN01749,Minoxidil 5Mg Tablets,61,2023-01-08,90,90,0,January
312,313,PRDIN01727,Metpure Xl 25Mg Tablets,61,2023-01-08,2400,2400,2400,January

In [14]:
#Vlookup only chroniC drugs in the PURCHASE TABLE
df_Cdmpurchase = df_Cdmpurchase.merge(df_Alldrugs, on='Item Name', suffixes=('_left', '_right'))
df_Cdmpurchase.head()

,GRN Date,PO No,PO DateTime,Item Name,Batch No,Expiry Date,Quantity,Purchase Rate,MRP,Margin %,Margin Value,Month,Type
0,2023-01-06 14:43:28,306,2022-11-01,Sumatriptan 50Mg Tablets,GKD1025C,2025-07-31,40,650.0,975.0,24.81,214.5,January,Chronic
1,2023-04-08 08:35:29,803,2023-03-29,Sumatriptan 50Mg Tablets,GKD1025C,2025-07-31,30,650.0,975.0,24.86,215.0,April,Chronic
2,2023-05-12 13:04:29,925,2023-05-08,Sumatriptan 50Mg Tablets,GKD1025C,2025-07-31,25,650.0,975.0,24.86,215.0,May,Chronic
3,2023-06-05 15:02:21,925,2023-05-08,Sumatriptan 50Mg Tablets,GKE0521A,2026-03-24,30,650.0,975.0,24.86,215.0,June,Chronic
4,2023-09-11 12:20:33,1481,2023-09-07,Sumatriptan 50Mg Tablets,GKE0521A,2026-03-24,30,650.0,975.0,33.33,325.0,September,Chronic

In [15]:
#Vlookup only chroniC drugs in the TRANSFER TABLE

df_Cdmtransfer = df_Cdmtransfer.merge(df_Alldrugs, on='Item Name')
df_Cdmtransfer.head()

,SLNo,Item Name,Stock Date,Transaction Type,Issue Qty,Month,Type
0,153565,Nylon 2.0 Rc,2023-01-12,NYERI PHARMACY,6,January,Medical Consumables
1,153563,Nylon 2.0 Rc,2023-01-09,ZION MALL PHARMACY,5,January,Medical Consumables
2,153564,Nylon 2.0 Rc,2023-01-09,ELDORET A PHARMACY,2,January,Medical Consumables
3,153566,Nylon 2.0 Rc,2023-01-12,AL IMRAN PHARMACY,12,January,Medical Consumables
4,153567,Nylon 2.0 Rc,2023-01-16,MOI AVENUE PHARMACY,12,January,Medical Consumables

In [16]:
#Vlookup only chroniC drugs in the ORDER TABLE

df_CdmOrder = df_CdmOrder.merge(df_Alldrugs, on='Item Name')
df_CdmOrder.head()

,Sr.No.,Item Code,Item Name,Pur Req No,Pur Req Date,Pur Req Qty,PO Qty,GRN Qty,Month,Type
0,316,PRDIN02193,Mofilet S 360Mg Tablets,61,2023-01-08,3960,3960,3000,January,Chronic
1,842,PRDIN02193,Mofilet S 360Mg Tablets,76,2023-02-08,4200,4200,2400,February,Chronic
2,2063,PRDIN02193,Mofilet S 360Mg Tablets,110,2023-03-28,5400,5400,1800,March,Chronic
3,1480,PRDIN02193,Mofilet S 360Mg Tablets,92,2023-03-02,4500,4500,1800,March,Chronic
4,2625,PRDIN02193,Mofilet S 360Mg Tablets,128,2023-05-04,6600,6600,0,May,Chronic

In [17]:
import calendar

#Last month of transfer

# Assuming your DataFrame is named df_cdmtransfer
Translast_month = df_Cdmtransfer['Stock Date'].max().month
if Translast_month == 12:
    # If the last month is December, find the previous month
    Translast_month = df_Cdmtransfer['Stock Date'].iloc[-2].month
Translast_month_name = calendar.month_name[Translast_month]

In [ ]:
import calendar

#Last month of CDM Sales

# Assuming your DataFrame is named df_Allsales
Translast_month = df_Cdmtransfer['Stock Date'].max().month
if Translast_month == 12:
    # If the last month is December, find the previous month
    Translast_month = df_Cdmtransfer['Stock Date'].iloc[-2].month
Translast_month_name = calendar.month_name[Translast_month]

In [22]:

TransMonthly_Data = df_Cdmtransfer[df_Cdmtransfer['Type'] == 'Chronic'].groupby(['Month', 'Type'], observed=False)

# Find the maximum month using the max function on the groupby object
max_month = TransMonthly_Data['Month'].max()

# Filter the data to include only months up to the maximum month
Monthly_Data = TransMonthly_Data.filter(lambda x: x['Month'] <= max_month)

TransMonthly_Data.columns = ['Month', 'Type', 'No of Patients']

ValueError: Can only compare identically-labeled Series objects

In [19]:
# Filter the data to include only months up to the maximum month
TransMonthly_Data = TransMonthly_Data.filter(lambda x: x['Month'] <= Translast_month_name).sum()

TypeError: filter function returned a Series, but expected a scalar bool

In [20]:
print(last_month_name)

NameError: name 'last_month_name' is not defined

In [21]:
from tabulate import tabulate

# Assuming Monthly_Data is your DataFrame
Monthly_cdmTable = tabulate(Monthly_Data, headers='keys', tablefmt='fancy_grid')

print(Monthly_cdmTable)

NameError: name 'Monthly_Data' is not defined